Django
django-extensions
djangorestframework
djangorestframework-datatables
dj-database-url
django-heroku
whitenoise
gunicorn
asgiref
psycopg2
pytz
six==1.12.0
sqlparse
channels
channels_redis
django-import-export
django-bootstrap-modal-forms
django-multiselectfield
django-wordpress-api
django-crispy-forms
django-formtools
