Django
django-extensions
djangorestframework
djangorestframework-datatables
dj-database-url
whitenoise
gunicorn
asgiref
psycopg2
pytz
six==1.12.0
sqlparse
channels
channels_redis
django-import-export
django-bootstrap-modal-forms
django-multiselectfield
django-crispy-forms
django-formtools
asgi_redis
requests
sentry-sdk
django-ipware
