*{
  transition: background 0.3s 0s ease;
}
.topbar {
 min-height: 90px;
 margin-top: 40px;
 flex-wrap: wrap;
 background-color: #FFFFFF;
}
.popoverbar {
  min-height: 40px;
  background-color: #203976;
  color: #fff !important;
}
body {
  font-family: "Poppins",sans-serif;
  padding-top: 150px;
  background: #FFFFFF;
}
.header-text {
  font-size: 0.725em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: min(2.8vw, 0.725em);
  white-space: nowrap;
}
.progress {
  height: 60px;
  overflow: visible !important;
}
.progress-bar {
  height: 4px;
  background-color: #1db954;
  overflow: visible;
  margin-top: 26px;
}
.disabled-bar {
  background-color: #203976  !important;
}
.progress-bar.icon-bar::after{
position: relative;
content: url('/static/ico/Dog-Symbol.png');
max-width:64px;
transform: scale(0.3);
display: block;
align-self: flex-end;
margin-right: -2em;
margin-bottom: 1.3em;
z-index:2;
}

.logo-header{
  content: url('/static/ico/logo.png');
  position: relative;
  display: flex;
  align-self: center;
  margin-bottom: 1em;
}

.dog-card-img{
  position: relative;
  content: url('/static/ico/new-dog.png');
  margin-top: -47px;
  object-fit: scale-down;
}
.dog-card-img-2{
    content: url(/static/ico/new-dog.png);
    margin-left: -15px;
    object-fit: scale-down;
}
.one, .two, .three, .four{
background-color: #1db954;
position:absolute;
z-index:1;
height:14px;
width:14px;
border-radius: 7px;
margin-top: 21px;
}
.progress-bar-text {
  font-family: 'Roboto', sans-serif;
  color: #203976;
  padding-top: 3em;
  letter-spacing: 0.3px;
  font-weight: 400;
  font-size: 10px;
  justify-content: center;
  display: flex;
  white-space: nowrap;
}
.one{
  left: 1%;
}
.two{
  left:33%;
}
.three{
  right:33%
}
.four{
  right:1%
}
.info-bg{
  background: white;
  margin-top: -18px;
  padding-top: 15px;
}
.dog-bg-img{
  position: relative;
  max-width:141px;
}
.info-bar-text{
  color: #203976;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.control-label{
  font-family: Roboto;
  font-size: 17px;
  color: #203976;
  text-align: left;
  vertical-align: top;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0.0004781px;
  margin-top: 26px;
  margin-bottom: 26px;
  display: flex;
}
.control-group{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}
.input:last-of-type{
  margin-bottom: 150px;
}
.controls {
  display: inline-grid;
  width: 100%;
}

.textinput, .select, .numberinput, .dateinput, .checkboxinput, .emailinput  {
  font-family: Roboto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-align-last: center;
  background-color: #203976;
  border-radius: 20px;
  border: none;
  color: #1db954;
  height: 72px;
  width: 80vw;
  font-weight: 500;
}
.numberinput::-webkit-outer-spin-button,
.numberinput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.textarea {
  width: 100%;
  padding: 10px 10px;
  box-shadow: #a4a4a4c0 1px 0px 8px 0px inset;
  border-radius: 20px;
  background-color: #fff;
  font-family: Roboto;
  font-size: 16px;
  color: #203976;
  vertical-align: top;
  font-weight: 500;
  line-height: 21px;
  text-transform: none;
  letter-spacing: 0.5px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 159px;
  resize: none;
}

.textarea:focus {
  outline: none !important;
  box-shadow: 0 0 10px #203976;
}

.numberinput::placeholder, .textinput::placeholder, .dateinput::placeholder {
  color: #1db954;
}

.radio-toolbar-description {
  color: red;
}

input[type=radio],input[type=checkbox]{
  margin-top: 15px;
  margin-left: 15px;
  opacity:0;
  position: fixed;
  width: 0;
}

input[type="checkbox"]:checked + label {
  background-color: #1db954;
  color: #203976;
  box-shadow: inset 0px 1px 15px 0 #0000004A;
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: #1db954;
  color: #203976;
  box-shadow: inset 0px 1px 15px 0 #0000004A;
}

.radio.inline, .checkbox.inline{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-align-last: center;
  width: 75%;
  height: 72px;
  border-radius: 3em;
  background: #ffffff;
  box-shadow: inset 2px 3px 2px #20397635;
  position: relative;
  margin: 4px auto;
  overflow: hidden;
  padding-bottom: 0 !important;
  padding-top:25px;
}


.multi-select-image input[type="checkbox"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.multi-select-flavor-title {
  font-family: 'Montserrat';
  font-size: 13px;
  color: #203976;
  text-align: left;
  vertical-align: top;
  font-weight: 400;
  line-height: 30px;
  text-transform: none;
  letter-spacing: 0.3px;
  margin-bottom: 3px;
}

.multi-select-title-description {
  font-family: 'Roboto';
  font-size: 16px;
  color: #203976;
  text-align: left;
  vertical-align: top;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0.3px;
  margin-top: -8px;
}

.multi-select-flavor {
  font-family: 'Roboto';
  font-size: 14px;
  color: #203976;
  text-align: left;
  vertical-align: top;
  font-weight: 200;
  line-height: 24px;
  text-transform: none;
  letter-spacing: 0px;
}

.add-flavor {
  background-color: #203976;
  border-radius: 17px;
  font-family: 'Roboto';
  padding: 16px 26px;
  font-size: 16px;
  color: #1db954;
  text-align: center;
  vertical-align: top;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 0.00045px;
  cursor: pointer;
  margin-right: 12px;
  white-space: nowrap;
}

.multi-select-image img {
  width: 150px;
  height: 150px;
}

.multi-select-image input[type="checkbox"]:checked + label {
  background-color: #1db954;
  color: #203976;
  box-shadow: inset 0px 1px 15px 0 #0000004A;
}

/* ------ */
#ui-id-1 {
  top: 480px;
  font-family: Roboto;
  border-radius: 20px;
  background: #203976;
  color: #fff;
}
.ui-menu-item:hover {
  background-color: red;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar .first-description {
  width: 80vw;
  height: 72px;
  padding: 24px 40px;
  box-shadow: inset 0px 1px 15px 0 #0000004A;
  border-radius: 20px;
  background-color: #203976;
  font-family: 'Roboto';
  font-size: 16px;
  color: #1db954;
  text-align: center;
  vertical-align: top;
  font-weight: 500;
  line-height: 21px;
  text-transform: none;
  letter-spacing: 0.5px;
}

.second-description {
  font-family: 'Roboto';
  box-shadow: none!important;
  font-size: 14px;
  color: #203976;
  text-align: center;
  vertical-align: top;
  font-weight: 400;
  line-height: 28px;
  text-transform: none;
  letter-spacing: 0.0003938px;
}
.radio-toolbar label:hover {
  background-color: #1db954;
  color: #203976;
  cursor: pointer;
}
@media (hover:none) {
  .radio-toolbar label:hover {
    background-color: #203976;
    color: #1db954;
    box-shadow: inset 1px 0px 8px 0 #A4A4A4C0;  }
}

.field-title {
  font-family: Roboto;
  font-size: 17px;
  color: #203976;
  text-align: left;
  vertical-align: top;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0.0004781px;
  margin-top: 26px;
  margin-bottom: 13px;
}


.radio-toolbar-label {
  font-family: 'Roboto';
  font-size: 17px;
  margin-bottom: 25px;
  color: #203976;
  text-align: left;
  vertical-align: top;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0.0004781px;
}

.custom-control-radio,.custom-control-checkbox{
  position: absolute;
  top: 0.2rem;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  background: #c9ded6;
  border-radius: 50%;
}
.custom-control-radio::after {
    content: '';
    position: absolute;
    opacity: 0;
    top: .5rem;
    left: .5rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #fff;
  }
.help-inline, .help-block {
  margin-top:1em;
  margin-left: auto;
  margin-right: auto;
}
.textinput:focus, .select:focus, .numberinput:focus, .dateinput:focus, .checkboxinput:focus{
  outline:0;
}

/* .middle {
  background: #ffffff;
} */

.asteriskField {
    display: none;
}

.btn-back:focus{
  outline:0;
}
.btn-back{
  margin-top: -115px;
  margin-left: 15px;
  text-align: left;
  position: absolute;
  z-index: 2000;
  outline: 0;
  border: 0px;
  box-shadow: none;
  background-color: transparent;
}
.btn-next{
  width:50%;
  height:100px;
  outline: 0;
  box-shadow: none;
  border: 0px;
  box-sizing: none;
  background-color: transparent;
  color: #FFF;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  margin-left: auto;
  margin-right:auto;
}
.btn-next:hover{
  color: #1db954!important;
}

.footer{
  background: #203976;
  position: fixed;
  display: flex;
  width:100%;
  bottom: 0;
  box-shadow: 0px 1px 15px 0 #0000004A;
}
.footer > input, .footer > a {
  width: 100%;
}
.footer *{
  background: #203976 !important;
  box-shadow: none!important;
  border:0;
}
.footer *::active{
  border:0;
}
.margin-footer{
  margin-left: -15px;
}
.footer-text{
  text-align: center;
  letter-spacing: 2px;
  margin-left: auto;
  margin-right:auto;
  color: #fff!important;
  font-family: Roboto;
  font-size: 28px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none !important;
}
.card {
  border-radius: 10px;
  color: #203976;
  background: #ffffff;
  margin-top: 0.7em;
  margin-right: 0.3em;
  margin-left: 0.3em;
}
.endofcontent{
  margin-bottom: 200px;
}
.card-title {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.5px;
}
.card-heading {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
}
.card-text {
  margin-top: 1em;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.5px;
}
.card-subheading {
  margin-top: 0.7em;
  color: #203976;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.5px;
}
.card-new{
  border-radius: 10px;
  color: #203976;
  border: dashed 4px #d5e8f4;
  background: #ffffff;
  margin-top: 0.7em;
  font-size:3em;
}
.card-bottom{
  bottom: 1em;
  position:absolute;
}
.delete-icon{
  float: right;
  margin-top: -1em;
}
.round-btn{
  border-radius: 14px;
  border: solid 4px #203976d9;
  background: #203976;
  box-shadow: 0px 0px 25px #0033b340;
  color: #f4f7f9;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.5px;
  padding-left: 2em;
  padding-right: 2em;
}
.active {
  box-shadow: 0px 15px 30px 0 #1db9545D !important;
}
.link-no-decoration {
  text-decoration: none !important;
  color: #203976 !important;
}
.dash-title{
  font-family: Montserrat;
  font-size: 33px;
  color: #203976;
  text-align: left;
  vertical-align: top;
  font-weight: 800;
  text-transform: none;
  text-shadow: 0px 3px 13px #dcdcdc33;
}
.dash-subtitle{
  font-family: Montserrat;
  color: #203976;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  text-shadow: 0px 3px 13px #dcdcdc33;
}
.dash-btn{
  height: 117px;
  border-radius: 24px;
  background: #ffffff;
  box-shadow: 0px 3px 13px #dcdcdcb3;
}
.dash-btn-text{
  padding-top: 45px;
}
.dash-big-btn{
 height: 69px;
 background-color: #203976;
 box-shadow: 0px 15px 30px 0 #0000000D;
 border-radius: 20px;
 font-family: Roboto;
 color: #1db954!important;
 text-align: center;
 font-weight: 700;
 font-size: 18px;
 white-space: nowrap;
}
.dash-card{
  background-color: #FFFFFF;
  border-radius: 36px;
  border-color: #979797;
  border-width: 1px;
  /* box-shadow: 0px 2px 5px #979797; */
}
.dash-card-btn{
  height: 61px;
  min-width: 230px;
  background-color: #203976;
  box-shadow: 0px 15px 30px 0 #0000000D;
  border-radius: 20px;
  font-family: Roboto;
  font-size: 18px;
  color: #1db954;
  font-weight: 700;
  text-transform: none;
  border-width: 0px;
  padding-top: 18px;
  margin-bottom: -28px;
  margin-right: 32px;
  white-space: nowrap;
}
.card-dash-title{
  font-family: Montserrat;
  color: #203976;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.41px;
}
.card-dash-subtitle, .card-dash-subtitle a{
  font-family: Roboto;
  font-size: 16px;
  color: #203976!important;
  text-align: left;
  vertical-align: top;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0.5px;
}
.index-blue-text{
font-family: Roboto;
font-size: 18px;
color: #203976;
text-align: center;
vertical-align: top;
font-weight: 600;
text-transform: none;
}
.index-blue-text-2{
font-family: Roboto;
font-size: 18px;
color: #203976;
vertical-align: top;
font-weight: 600;
text-transform: none;
}
.card-dash-centered-text{
  font-family: Roboto;
  font-size: 14px;
  color: #203976;
  text-align: center;
  font-weight: 200;
}
.card-faq-text{
  font-family: Roboto;
  font-size: 16px;
  color: #203976;
  font-weight: 400;
}

.card-dash-blue-button{
  max-width: 90px;
  max-height: 83px;
  background-color: #203976;
  box-shadow: inset 1px 2px 3px 0 #0E3B5280;
  border-radius: 20px;
}
.card-dash-thin-text{
  font-family: Roboto;
  font-size: 13px;
  color: #203976;
  text-align: left;
  vertical-align: top;
  font-weight: 200;
}
.card-footer-text{
  font-family: Montserrat;
  font-size: 11px;
  color: #203976;
  text-align: left;
  vertical-align: top;
  font-weight: 500;
}
.card-footer-link{
  font-family: Roboto;
  font-size: 10px;
  color: #203976;
  text-align: left;
  vertical-align: top;
  font-weight: 500;
}
.dogdash-card{
  background-color: #FFFFFF;
  box-shadow: 0px 15px 30px 0 #0000000D;
  border-radius: 40px;
  min-width: 258px;
  height: 294px;
}
.plano-card{
  background-color: #FFFFFF;
  box-shadow: 0px 0px 30px 0 #0000000D;
  border-radius: 20px;
  max-width: 190px;
  height: 496px;
}
.custom-hr{
  border:none;
  border-radius:20px;
  height: 98px;
  margin-top: 0;
  box-shadow:  0px 15px 30px 0 #0000000D;
  margin: -50px -15px 10px -15px;
}
.custom-hr-2{
  border-top:1.5px solid #E5EAF7;
}
.dog-card-title{
  color: #203976;
  font-family: Roboto;
  font-size: 33px;
  font-weight: 700;
}
.invalid-feedback{
  display: flex!important;
  justify-content: center!important;
}
.dog-container{
  z-index:55;
  margin-top: -100px;
  margin-bottom: 20px;
  padding-left: 30px;
}
.arrow-container{
  top: 20px;
  left: 20px;
  position: absolute;
}
.less-spacing{
  margin-top:-1em!important;
}
.plano-bold{
  font-family: Montserrat;
  font-size: 12px;
  color: #203976;
  text-align: left;
  vertical-align: top;
  font-weight: 600;
  text-transform: none;
}
.plano-highlight{
  background: #1db954!important;
  font-weight: 700;
  padding: 5px 0px;
  font-family: Montserrat;
  font-size: 12px;
  color: #203976;
  text-align: center;
}
.plano-thin{
  font-family: Montserrat;
  font-size: 12px;
  color: #203976;
  text-align: left;
  vertical-align: top;
  font-weight: 400;
  text-transform: none;
}
.plano-card-footer{
  position: absolute;
  bottom: 40px;
}
.plano-img{
  position: absolute;
  top: -50px;
}
.valormes{
  height: 30px;
  width: 125px;
  font-family: Montserrat;
  font-size: 14px;
  color: #203976;
  text-align: right;
  vertical-align: top;
  font-weight: 700;
  box-shadow: -3px -2px 5px 0 #0000002E;
  border-radius: 5px 0px 0px 5px;
  background: #fff;
  position: absolute;
  right: -32px;
  top: 72px;
  padding-top: 5px;
}

.valordia{
  height: 30px;
  width: 112px;
  font-family: Montserrat;
  font-size: 12px;
  color: #FFFFFF;
  text-align: right;
  vertical-align: top;
  font-weight: 600;
  box-shadow: -3px -2px 5px 0 #0000002E;
  border-radius: 5px 0px 0px 5px;
  background: #203976;
  position: absolute;
  right: -32px;
  top: 106px;
  padding-top: 5px;
}


/* *********************************** */
/* pacote 2 */
/* *********************************** */

.text-line-through {
  text-decoration: line-through;
}

.bold-text {
  font-weight: bold !important;
}

.regular-text {
  font-weight: 400 !important;
}

/* flavor components */

.flavor-container {
  text-align: center;
  width: 360px;
}

.imgs-container {
  display: flex;
  justify-content: space-between;
}

.flavor-img {
  width: 157px;
}

.flavor-middle-img {
  width: 157px;
  position: absolute;
  left: 120px;;
}

.flavor-title {
  font-family: 'Montserrat';
  font-size: 33px;
  color: #203976;
  text-align: center;
  vertical-align: top;
  font-weight: 500;
  text-transform: none;

  margin-top: 20px;
}

.flavor-title span {
  font-weight: 600;
}

.flavor-description {
  font-family: 'Montserrat';
  font-size: 13px;
  color: #203976;
  text-align: center;
  vertical-align: top;
  font-weight: 400;
  line-height: 30px;
  text-transform: none;
  letter-spacing: 0.3px;
}

/* saving data page */

.saving-dog-container {
  width: 50%;
  margin: auto;
}

.saving-dog-container .logo {
  display: flex;
  text-align: center;
  width: 120px;

  margin: 80px auto;
}

.saving-dog-title {
  font-family: 'Montserrat';
  font-size: 33px;
  color: #203976;
  text-align: center;
  vertical-align: top;
  font-weight: 700;
  text-transform: none;
}

.saving-dog-owner {
  font-family: 'Montserrat';
  font-size: 24px;
  color: #203976;
  text-align: left;
  vertical-align: top;
  font-weight: 800;
  line-height: 34px;
  text-transform: none;
  letter-spacing: 0.3px;

  margin-top: 200px;
}

.saving-dog-description {
  font-family: 'Montserrat';
  font-size: 13px;
  color: #203976;
  text-align: left;
  vertical-align: top;
  font-weight: 400;
  line-height: 30px;
  text-transform: none;
  letter-spacing: 0.3px;
}

.saving-dog-description-2 {
  font-family: 'Montserrat';
  font-size: 13px;
  color: #203976;
  text-align: left;
  vertical-align: top;
  font-style: italic;
  font-weight: 600;
  line-height: 30px;
  text-transform: none;
  letter-spacing: 0.3px;
}

/* detail page */

.detail-page {
  width: 100vw;
  margin-left: -15px;
  height: calc(100vh + 283px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #203976;
}

.detail-page .logo {
  width: 150px;
  margin-top: 62px;
}

.detail-page .cart-img {
  margin-top: -5px;
}

.detail-page-title {
  font-family: 'Montserrat';
  font-size: 23px;
  color: #FFFFFF;
  text-align: left;
  vertical-align: top;
  font-weight: 800;
  text-transform: none;
}

.detail-page-subtitle {
  font-family: 'Montserrat';
  font-size: 13px;
  color: #FFFFFF;
  text-align: left;
  vertical-align: top;
  font-weight: 500;
  line-height: 30px;
  text-transform: none;
  letter-spacing: 0.3px;
}

.detail-page-simple-button {
  display: block;
  background-color: #FFFFFF;
  box-shadow: 0px 15px 30px 0 #0000000D;
  border-radius: 20px;
  padding: 24px 100px;
  border: none;

  margin-top: 20px;
}

.detail-page-footer {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
}
.info-container {
  width: 100%;

  text-align: center;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #1db954;
  border-radius: 35px 35px 0px 0px;
}

.finish-order-description {
  font-family: 'Roboto';
  font-size: 16px;
  color: #203976;
  text-align: left;
  vertical-align: top;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0.00045px;
}

.finish-order-line {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.finish-order-last-line {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;

  font-family: 'Roboto';
  font-size: 33px;
  color: #FFFFFF98;
  text-align: left;
  vertical-align: top;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 0.0005906px;
}

.finish-order-last-description {
  font-family: 'Roboto';
  font-size: 18px;
  color: #203976;
  text-align: right;
  vertical-align: top;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 0.0005062px;
}

.finish-order-button {
  width: 80%;

  font-family: 'Roboto';
  font-size: 24px;
  color: #1db954;
  vertical-align: top;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 1.2px;
  border: none;

  background-color: #203976;
  box-shadow: 0px 15px 30px 0 #0000000D;
  border-radius: 10px;
  padding: 21px;
}


/* accept terms checkbox */

/* Hide default checkbox */
.terms-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create custom */
.checkmark {
  position: absolute;
  top: -18px;
  left: -3vw;
  height: 53px;
  width: 53px;
  background-color: #FFFFFF;
  box-shadow: inset 1px 0px 8px 0 #E3E3E3;
  border-radius: 53px;
}

/* attributes for checkbox label */

.terms-container .terms-checkbox {
  cursor: pointer;
  position: relative;
  font-family: 'Roboto';
  font-size: 14px;
  color: #FFF;
  text-align: left;
  vertical-align: top;
  font-weight: 500;
  line-height: 22px;
  text-transform: none;
  letter-spacing: 0.7px;
}
.terms-checkbox {

}
.terms-container input:checked ~ .checkmark {
  background-color: #00FF39;
  box-shadow: inset 1px 2px 3px 0 #0E3B5280;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.terms-container input:checked ~ .checkmark:after {
  display: block;
}

.terms-container .checkmark:after {
  left: 22px;
  top: 16px;
  width: 10px;
  height: 20px;
  border: solid #203976;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.terms-container {
  width: 100%;
  padding: 25px 28px 0px 28px;
  background-color: #203976;
  margin-bottom: -31px;
  height: 110px;
  text-align: center;
}

.terms-text {
  font-family: 'Roboto';
  font-size: 14px;
  color: #FFF;
  text-align: left;
  vertical-align: top;
  font-weight: 500;
  line-height: 22px;
  text-transform: none;
  letter-spacing: 0.7px;
}

/* signed page */

.signed-page-container {
  width: 100%;
  margin: auto;
  height: calc(100vh + 106px);
}

.signed-page-container .content {
  width: 80%;
  margin: auto;
}

.signed-page-container .logo {
  text-align: center;
  width: 150px;

  margin-top: 80px;
  margin-bottom: 10px;
}

.signed-page-title {
  font-family: 'Montserrat';
  font-size: 33px;
  color: #203976;
  text-align: center;
  vertical-align: top;
  font-weight: 800;
  text-transform: none;
  margin-top: 12px;
}

.signed-page-subtitle {
  font-family: 'Montserrat';
  font-size: 20px;
  color: #203976;
  text-align: center;
  vertical-align: top;
  font-weight: 700;
  text-transform: none;
  margin-top: 12px;
}

.signed-page-description {
  font-family: 'Montserrat';
  font-size: 13px;
  color: #203976;
  text-align: center;
  vertical-align: top;
  font-weight: 400;
  line-height: 30px;
  text-transform: none;
  letter-spacing: 0.3px;
  margin-top: 12px;
}

.delivery-container {
  display: flex;
  align-items: flex-end;
  margin: auto;
  margin-bottom: 120px;
}

.delivery-info-container {
  margin-left: 10px;
  margin-bottom: 24px;
}

.person-with-box-img {
  width: 238px;
}

.delivery-info-container > h1 {
  font-family: 'Montserrat';
  font-size: 20px;
  color: #203976;
  text-align: left;
  vertical-align: top;
  font-weight: 700;
  text-transform: none;
}

.delivery-info-container > h2 {
  font-family: 'Montserrat';
  font-size: 14px;
  color: #203976;
  text-align: left;
  vertical-align: top;
  font-weight: 600;
  text-transform: none;
  letter-spacing: 0.175px;

  margin-bottom: 22px;
}

.delivery-info-container > p {
  font-family: 'Montserrat';
  font-size: 14px;
  color: #203976;
  text-align: left;
  vertical-align: top;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0.175px;
  margin-bottom: 0px;
}

.signed-page-footer {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  margin-left: -15px;
}

.signed-page-footer-button {
  font-family: 'Roboto';
  font-size: 24px;
  color: #00FF39;
  background-color: #203976;
  text-align: center;
  vertical-align: top;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 1.2px;
  border: none;
  padding-top: 35px;
  padding-bottom: 35px;
}

@media only screen and (max-width: 600px) {
  .person-with-box-img {
    margin-left: -152px;
  }
}

/* free dog badge */

.free-dog-badge-container {
  background-color: #203976;
  width: 100%;
  min-height: 100vh;
}

.badge-description {
  font-family: 'Montserrat';
  font-size: 24px;
  color: #FFFFFF;
  text-align: left;
  vertical-align: top;
  font-weight: 200;
  text-transform: none;
}

.free-dog-badge-container > label {
  font-family: 'Montserrat';
  font-size: 24px;
  color: #FFFFFF;
  text-align: left;
  vertical-align: top;
  font-weight: 200;
  text-transform: none;
}

.free-dog-badge-container h1 {
  font-family: 'Montserrat';
  font-size: 33px;
  color: #FFFFFF;
  text-align: left;
  vertical-align: top;
  font-weight: 700;
  text-transform: none;
}

.free-dog-badge-container h2 {
  font-family: 'Montserrat';
  font-size: 20px;
  color: #FFFFFF;
  text-align: left;
  vertical-align: top;
  font-weight: 200;
  line-height: 32px;
  text-transform: none;
}

.free-dog-badge-container p {
  font-family: 'Montserrat';
  font-size: 13px;
  color: #FFFFFF;
  text-align: left;
  vertical-align: top;
  font-weight: 400;
  line-height: 30px;
  text-transform: none;
  letter-spacing: 0.3px;
}

.free-dog-badge-button {
  background-color: #003AA4;
  box-shadow: inset 1px 0px 10px 0 #07070757;
  border-radius: 20px;
  padding: 24px 89px;
  color: #FFF;
  border: none;
  min-width: 384px;
}

.free-dog-badge-button:hover {
  color: #00FF00;
}

.badge-content {
  width: 45%;
  margin: auto;
}

.custom-card{
  padding: 2em 0px;
}
