{% extends "base_client.html" %}
{% load static %}
{% block head %}
<style>
.card-text{
  font-family: Montserrat;
  font-size: 13px;
  color: #6B6B6B;
  text-align: left;
  vertical-align: top;
  font-weight: 500;
  line-height: 26px;
  text-transform: none;
}
</style>
{% endblock %}
{% block content %}
<div class="row d-flex-column middle mx-auto">
  <div class="col-lg-6">
    <div style="padding-top: 10%;" class='mx-auto mb-2 col-12'>
      <p class="dash-title text-left">E-mail enviado.</p>
      <p class="card-dash-subtitle text-left" style="margin-top:-20px;">
        Verifique sua caixa de spam.
      </p>
    </div>
    <div class="dash-card mx-auto col-12">
      <p class="card-dash-title pt-4 p-2">E-mail de alteração foi enviado!</p>
      <div class="dash-subtitle p-2">
        <p>
        Nos te enviamos um email com instruções para configurar sua senha, se uma conta
        existe com o email fornecido.</p>
        <p> Você receberá a mensagem em breve.</p>
        <p>Se você não recebeu um email, por favor certifique-se que você forneceu o endereço que você está cadastrado, e verifique sua pasta de spam.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="endofcontent"></div>
{% endblock %}
