
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class='row info-bg'>
  <div class='col-10 info-bar-text'>
    <p>Precisamos saber quem é você</p>
  </div>
</div>
<div class="row d-flex middle">
  <div class="col-12 text-center control-label mx-auto m-2 ">
    <h3>De quem é o cachorro que foi registrado?</h3>
  </div>
  <div class="col-12 flex-column text-center control-label mx-auto m-2 ">
    <form method="post" style="display: contents;">
      {% csrf_token %}
      <p style="color: red">{{ form.non_field_errors }}</p>
      {% for field in form %}
          {{ field.label_tag }}
          {{ field }}
          {% if field.help_text %}
            <br><small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
      {% endfor %}
      <button class="round-btn mt-2 p-4 text-white text-decoration-none mx-auto" type="submit">Criar minha conta</button>
    </form>
  </div>
</div>
<div class="endofcontent"></div>
<div class="footer margin-footer">
  <p class="footer-text ">
  </p>
</div>
{% endblock %}
