{% extends "base_client.html" %}
{% load static %}
{% block head %}
<style>
.card-text{
  font-family: Montserrat;
  font-size: 13px;
  color: #6B6B6B;
  text-align: left;
  vertical-align: top;
  font-weight: 500;
  line-height: 26px;
  text-transform: none;
}
</style>
{% endblock %}
{% block content %}
<div class="row d-flex-column middle justify-content-center mx-auto">
  <div style="padding-top: 10%;" class='col-8 mx-auto mb-2'>
    <p class="dash-title text-left">E-mail enviado..</p>
    <p class="card-dash-subtitle text-left" style="color: #000000; margin-top:-20px;">
      Verifique sua caixa de spam.
    </p>
  </div>
  <div class='col-lg-8'>
    <div class="dash-card mx-auto col-10">
        <div class="m-4">
          <p class="card-text">
            Nos te enviamos um email com instruções para configurar sua senha, se uma conta
            existe com o email fornecido.<br> Você receberá a mensagem em breve.<br>
             Se você não recebeu um email, por favor certifique-se que você forneceu o endereço que você está cadastrado, e verifique sua pasta de spam.
          </p>
        </div>
    </div>
  </div>
</div>
<div class="endofcontent"></div>
<div class="footer margin-footer">
  <p class="footer-text ">
  </p>
</div>


{% endblock %}
