
{% extends "base_flow.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
<style>
label{
  float: left;
  margin-left: 28px;
}
</style>
<script>
$(document).ready(function () {
  $('.progress-bar.icon-bar').css("width","50%");
  $('.progress-bar.disabled-bar').css("width","50%");
  $('.two').removeClass('disabled-bar');
  });
</script>
{% endblock %}
{% block content %}
<div class="row d-flex middle">
  <div class="col-10 mx-auto m-2 d-flex ">
  <p class="dash-title" style="font-weight:600">De quem é o cachorro que foi registrado?</p>
  </div>
  <div class="col-12 flex-column text-center first-description mx-auto m-2 ">
    <form method="post" style="display: contents;">
      {% csrf_token %}
      {{form.as_table}}
    </form>
  </div>
</div>
<div class="endofcontent"></div>
<div class="footer margin-footer">
  <a class="btn-next btn-primary btn" style="color:#FFF!important; padding-top: 30px;" onclick="$('form').submit();">
    Continuar
  </a>
</div>
{% endblock %}
