.topbar {
 min-height: 90px;
 margin-top: 40px;
 flex-wrap: wrap;
 background-color: #FFFFFF;
}
.popoverbar {
  min-height: 40px;
  background-color: #03FB5C;
}
body {
  font-family: "Poppins",sans-serif;
  padding-top: 150px;
  background: #FFFFFF;
}
.header-text {
  font-size: 0.825em;
  color: #19437a;
  letter-spacing: 1px;
  text-transform: initial;
  font-size: min(2.8vw, 0.825em);
  white-space: nowrap;
}
.progress {
  height: 60px;
  overflow: visible !important;
}
.progress-bar {
  height: 4px;
  background-color: #00FB5C;
  overflow: visible;
  margin-top: 26px;
}
.disabled-bar {
  background-color: #00418F  !important;
}
.progress-bar.icon-bar::after{
position: relative;
content: url("/static/ico/Dog-Symbol.4ab696b3695a.png");
display: block;
align-self: flex-end;
margin-right: -2em;
margin-bottom: 1.3em;
z-index:2;
}

.logo-header{
  content: url("/static/ico/logo.7862bb2be824.png");
  position: relative;
  display: flex;
  align-self: center;
  margin-bottom: 1em;
}

.dog-card-img{
  position: relative;
  content: url("/static/ico/new-dog.5fb865ce1b8c.png");
  margin-top: -47px;
  object-fit: scale-down;
}
.dog-card-img-2{
    content: url("/static/ico/new-dog.5fb865ce1b8c.png");
    margin-left: -15px;
    object-fit: scale-down;
}
.one, .two, .three, .four{
background-color: #00FB5C;
position:absolute;
z-index:1;
height:14px;
width:14px;
border-radius: 7px;
margin-top: 21px;
}
.progress-bar-text {
  font-family: 'Roboto', sans-serif;
  color: #004094;
  position: fixed;
  padding-top: 2em;
  margin-left: -1.7em;
}
.one{
  left: 1%;
}
.two{
  left:33%;
}
.three{
  right:33%
}
.four{
  right:1%
}
.info-bg{
  background: white;
  margin-top: -18px;
  padding-top: 15px;
}

.info-bar-text{
  color: #17437a;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.control-label{
  color: #395f8d;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
}
.control-group{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}
.input:last-of-type{
  margin-bottom: 150px;
}
.controls {
  display: inline-grid;
  width: 100%;
}

.textinput, .select, .numberinput, .dateinput, .checkboxinput, .emailinput  {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-align-last: center;
  width: 75%;
  background-color: #003F9A;
  border-radius: 20px;
  border: none;
  color: #FFF;;
  height: 72px;
}

.numberinput::-webkit-outer-spin-button,
.numberinput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.textarea {
  width: 100%;
  padding: 10px 10px;
  box-shadow: rgba(164, 164, 164, 0.753) 1px 0px 8px 0px inset;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 16px;
  color: rgb(0, 63, 154);
  vertical-align: top;
  font-weight: 500;
  line-height: 21px;
  text-transform: none;
  letter-spacing: 0.5px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 159px;
  resize: none;
}

.textarea:focus {
  outline: none !important;
  box-shadow: 0 0 10px #719ECE;
}

.numberinput::placeholder, .textinput::placeholder, .dateinput::placeholder {
  color: #00FB5C;
}

.radio-toolbar-description {
  color: red;
}

input[type=radio],input[type=checkbox]{
  margin-top: 15px;
  margin-left: 15px;
  opacity:0;
  position: fixed;
  width: 0;
}

input[type="checkbox"]:checked + label {
  background-color: #003F9A;
  color: white;
  box-shadow: inset 0px 1px 15px 0 #0000004A;
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: #003F9A;
  color: white;
}

.radio.inline, .checkbox.inline{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-align-last: center;
  width: 75%;
  height: 72px;
  border-radius: 3em;
  background: #ffffff;
  box-shadow: inset 2px 3px 2px rgba(44,132,190,0.2);
  position: relative;
  margin: 4px auto;
  overflow: hidden;
  padding-bottom: 0 !important;
  padding-top:25px;
}


.multi-select-image input[type="checkbox"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.multi-select-flavor-title {
  font-family: 'Montserrat';
  font-size: 13px;
  color: #00418F;
  text-align: left;
  vertical-align: top;
  font-weight: 400;
  line-height: 30px;
  text-transform: none;
  letter-spacing: 0.3px;
}

.multi-select-title-description {
  font-family: 'Roboto';
  font-size: 14px;
  color: #00418F;
  text-align: left;
  vertical-align: top;
  font-weight: 500;
  line-height: 30px;
  text-transform: none;
  letter-spacing: 0.3px;
}

.multi-select-flavor {
  font-family: 'Roboto';
  font-size: 14px;
  color: #00418F;
  text-align: left;
  vertical-align: top;
  font-weight: 200;
  line-height: 24px;
  text-transform: none;
  letter-spacing: 0px;
}

.add-flavor {
  background-color: #004094;
  border-radius: 17px;

  font-family: 'Roboto';
  padding: 16px 26px;
  font-size: 16px;
  color: #00FB5C;
  text-align: center;
  vertical-align: top;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 0.00045px;
  cursor: pointer;
}

.multi-select-image img {
  width: 150px;
  height: 150px;
}

.multi-select-image input[type="checkbox"]:checked + label {
  background-color: #00FB5C;
  color: #004094;
  box-shadow: inset 0px 1px 15px 0 #0000004A;
}

/* ------ */
.ui-corner-all {
  background-color: #003F9A;
}

#ui-id-1 {
  top: 480px;
  font-family: Roboto;
  border-radius: 20px;
  background: #003F9A;
  color: #fff;
}
.ui-menu-item:hover {
  background-color: red;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar .first-description {
  padding: 24px 52px;
  box-shadow: inset 1px 0px 8px 0 #A4A4A4C0;
  border-radius: 20px;

  background-color: #FFFFFF;

  font-family: 'Roboto';
  font-size: 16px;
  color: #003F9A;
  text-align: center;
  vertical-align: top;
  font-weight: 500;
  line-height: 21px;
  text-transform: none;
  letter-spacing: 0.5px;
}

.second-description {
  font-family: 'Roboto';
  font-size: 14px;
  color: #00418F;
  text-align: center;
  vertical-align: top;
  font-weight: 400;
  line-height: 28px;
  text-transform: none;
  letter-spacing: 0.0003938px;
}

.radio-toolbar label:hover {
  background-color: #003F9A;
  color: white;
  cursor: pointer;
    @include hover-supported() {
    background-color: #FFFFFF;
    color: #003F9A;
    box-shadow: inset 1px 0px 8px 0 #A4A4A4C0;
  }
}
.field-title {
  font-family: Roboto;
  font-size: 17px;
  color: #00418F;
  text-align: left;
  vertical-align: top;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0.0004781px;

  margin-bottom: 26px;
}


.radio-toolbar-label {
  font-family: 'Roboto';
  font-size: 17px;
  margin-bottom: 25px;
  color: #00418F;
  text-align: left;
  vertical-align: top;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0.0004781px;
}

.custom-control-radio,.custom-control-checkbox{
  position: absolute;
  top: 0.2rem;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  background: #c9ded6;
  border-radius: 50%;
}
.custom-control-radio::after {
    content: '';
    position: absolute;
    opacity: 0;
    top: .5rem;
    left: .5rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #fff;
  }
.help-inline, .help-block {
  margin-top:1em;
  margin-left: auto;
  margin-right: auto;
}
.textinput:focus, .select:focus, .numberinput:focus, .dateinput:focus, .checkboxinput:focus{
  outline:0;
}

/* .middle {
  background: #ffffff;
} */

.asteriskField {
    display: none;
}

.btn-back:focus{
  outline:0;
}
.btn-back{
  margin-top: -2.3em;
  outline: 0;
  box-shadow: none;
  border: 0px;
  box-sizing: none;
  background-color: transparent;
}
.btn-next{
  width:50%;
  height:120px;
  outline: 0;
  box-shadow: none;
  border: 0px;
  box-sizing: none;
  background-color: transparent;
  color: #9fb2c8;
  font-family: Roboto;
  font-size: 34px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 2px;
  margin-left: auto;
  margin-right:auto;
}

.footer{
  background: #004094;
  position: fixed;
  display: flex;
  width:100%;
  bottom: 0;
}
.footer input{
  background: #004094 !important;
  border:0;
}
.footer input::active{
  border:0;
}
.margin-footer{
  margin-left: -15px;
}
.footer-text{
  text-align: center;
  letter-spacing: 2px;
  margin-left: auto;
  margin-right:auto;
  color: #9fb2c8 !important;
  font-family: Roboto;
  font-size: 28px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none !important;
}
.card {
  border-radius: 10px;
  color: #18447b;
  border: solid 4px #d5e8f4;
  background: #ffffff;
  margin-top: 0.7em;
  margin-right: 0.3em;
  margin-left: 0.3em;
}
.endofcontent{
  margin-bottom: 200px;
}
.card-title {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.5px;
}
.card-heading {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
}
.card-text {
  margin-top: 1em;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.5px;
}
.card-subheading {
  margin-top: 0.7em;
  color: #18447b;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.5px;
}
.card-new{
  border-radius: 10px;
  color: #18447b;
  border: dashed 4px #d5e8f4;
  background: #ffffff;
  margin-top: 0.7em;
  font-size:3em;
}
.card-bottom{
  bottom: 1em;
  position:absolute;
}
.delete-icon{
  float: right;
  margin-top: -1em;
}
.round-btn{
  border-radius: 14px;
  border: solid 4px rgba(24,68,123,0.85);
  background: #18447b;
  box-shadow: 0px 0px 25px rgba(5,39,83,0.25);
  color: #f4f7f9;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.5px;
  padding-left: 2em;
  padding-right: 2em;
}
.active {
  border: solid 4px #03FB5C;
}
.link-no-decoration {
  text-decoration: none !important;
  color: #18447b !important;
}
.dash-title{
  font-family: Montserrat;
  font-size: 33px;
  color: #00418F;
  text-align: left;
  vertical-align: top;
  font-weight: 800;
  text-transform: none;
  text-shadow: 0px 3px 13px rgba(220,220,220,0.2)
}
.dash-subtitle{
  font-family: Montserrat;
  color: #00418F;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  text-shadow: 0px 3px 13px rgba(220,220,220,0.2)
}
.dash-btn{
  height: 117px;
  border-radius: 24px;
  background: #ffffff;
  box-shadow: 0px 3px 13px rgba(220,220,220,0.7);
}
.dash-btn-text{
  padding-top: 45px;
}
.dash-big-btn{
 height: 69px;
 background-color: #00418F;
 box-shadow: 0px 15px 30px 0 #0000000D;
 border-radius: 20px;
 font-family: Roboto;
 color: #00FB5C!important;
 text-align: center;
 font-weight: 700;
 font-size: 18px;
white-space: nowrap;
}
.dash-card{
  background-color: #FFFFFF;
  border-radius: 36px;
  border-color: #979797;
  border-width: 1px;
  /* box-shadow: 0px 2px 5px #979797; */
}
.dash-card-btn{
  height: 61px;
  min-width: 230px;
  background-color: #00418F;
  box-shadow: 0px 15px 30px 0 #0000000D;
  border-radius: 20px;
  font-family: Roboto;
  font-size: 18px;
  color: #00FB5C;
  font-weight: 700;
  text-transform: none;
  border-width: 0px;
  padding-top: 18px;
  margin-bottom: -28px;
  margin-right: 32px;
  white-space: nowrap;
}
.card-dash-title{
  font-family: Montserrat;
  color: #00418F;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.41px;
}
.card-dash-subtitle, .card-dash-subtitle a{
  font-family: Roboto;
  font-size: 16px;
  color: #00418F!important;
  text-align: left;
  vertical-align: top;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0.5px;
}
.index-blue-text{
font-family: Roboto;
font-size: 18px;
color: #00418F;
text-align: center;
vertical-align: top;
font-weight: 600;
text-transform: none;
}
.card-dash-centered-text{
  font-family: Roboto;
  font-size: 14px;
  color: #00418F;
  text-align: center;
  font-weight: 200;
}
.card-faq-text{
  font-family: Roboto;
  font-size: 16px;
  color: #00418F;
  font-weight: 400;
}

.card-dash-blue-button{
  max-width: 90px;
  max-height: 83px;
  background-color: #004094;
  box-shadow: inset 1px 2px 3px 0 #0E3B5280;
  border-radius: 20px;
}
.card-dash-thin-text{
  font-family: Roboto;
  font-size: 13px;
  color: #00418F;
  text-align: left;
  vertical-align: top;
  font-weight: 200;
}
.card-footer-text{
  font-family: Montserrat;
  font-size: 11px;
  color: #00418F;
  text-align: left;
  vertical-align: top;
  font-weight: 500;
}
.card-footer-link{
  font-family: Roboto;
  font-size: 10px;
  color: #00418F;
  text-align: left;
  vertical-align: top;
  font-weight: 500;
}
.dogdash-card{
  background-color: #FFFFFF;
  box-shadow: 0px 15px 30px 0 #0000000D;
  border-radius: 40px;
  min-width: 258px;
  height: 294px;
}
.custom-hr{
  border:none;
  border-radius:20px;
  height: 98px;
  margin-top: 0;
  box-shadow:  0px 15px 30px 0 #0000000D;
  margin: -50px -15px 10px -15px;
}
.dog-card-title{
  color: #00418f;
  font-family: Roboto;
  font-size: 33px;
  font-weight: 700;
}
.invalid-feedback{
  display: flex!important;
  justify-content: center!important;
}
