label{
  font-family: Montserrat;
  font-size: 15px;
  color: #203976;
  text-align: left;
  vertical-align: top;
  font-weight: 600;
  text-transform: none;
}
input{
  font-family: Montserrat!important;
  color: #203976!important;
  margin-bottom: 28px;
  outline:none!important;
  border:none!important;
  border-bottom:1px solid #203976!important;
}
input:focus{
  border:none!important;
  outline:none!important;
  box-shadow: 0 2px 0px -1px #1db954!important;
}
a, a:hover{
  color:#203976!important;
}
.helptext{
  display:none;
}
td, tr{
  display:block;
  width:100%;
}
table,input{
  width:100%;
}
.card-text{
  font-family: Montserrat;
  font-size: 13px;
  color: #6B6B6B;
  text-align: left;
  vertical-align: top;
  font-weight: 500;
  line-height: 26px;
  text-transform: none;
}
.errorlist li{
  color: #c70606;
  font-family: Montserrat;
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.3px;
  display: block;
}
