{% load static %}
<!DOCTYPE html>
<html>

<head>

  <title>Ração do Futuro</title>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173241489-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-173241489-2');
  </script>

  <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/extra.js' %}"></script>
  <script src="{% static 'js/moment.js' %}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.theme.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/extra.css' %}">
  {% block head %}{% endblock %}
</head>


<body>
  <div id="content" class="container-fluid">
    <nav class="navbar navbar-expand-lg fixed-top popoverbar d-flex">
      <span class="mx-auto header-text">Entrega disponível apenas para a <b>Grande Florianópolis</b></span>
    </nav>
    <nav class="navbar navbar-expand-lg fixed-top topbar">
      <div class="col-10 float-none bg-transparent progress mx-auto">
        <a class="mx-auto pt-3 logo-header" href='{% url 'index' %}'></a>
      </div>
    </nav>
    {% block content %}{% endblock %}
  </div>
</body>
</html>
