{% extends "base.html" %}
{% block content %}
<div class="m-2"><h4>clientflow</h4></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'clientflow_CachorroEspecial_list' %}">CachorroEspecial Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'clientflow_Entrega_list' %}">Entrega Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'clientflow_Pedido_list' %}">Pedido Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'clientflow_Planos_list' %}">Planos Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'clientflow_Cachorro_list' %}">Cachorro Listing</a></div>
<div class="m-2"><a class="btn btn-light" href="{% url 'clientflow_Cliente_list' %}">Cliente Listing</a></div>
{% endblock %}