{% extends "base.html" %}
{% block content %}
<div class='row info-bg'>
  <div class='col-10 info-bar-text'>
    <p>Início</p>
  </div>
</div>
<div class="row d-flex middle">
  <div class="col-12 text-center control-label mx-auto p-4">
    <p>Conheça o que a <br>Ração do Futuro pode<br> oferecer para o seu Cão.</p>
  </div>
    <a
      class="round-btn p-4 text-white text-decoration-none mx-auto"
      href="{% url 'clientflow_dogflow' %}">
      Simule um plano
    </a>

</div>
<div class="footer margin-footer">
  <p class="footer-text ">
  </p>
</div>
{% endblock %}
