{% load crispy_forms_filters %}
{% load static %}
{% load l10n %}

<div class="m-auto w-75">
    <label class="field-title">{{field.label|safe}}</label>
    <div class="{% if field_class %} {{ field_class }}{% endif %}multi-select-image"{% if flat_attrs %} {{ flat_attrs|safe }}{% endif %}>
        <div class="row">
            {% for choice in field.field.choices %}
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="d-inline-flex ">
                      <img src="{% static 'css/images/exemplo.png' %}" alt="{{choice.description}}" />
                      <div class="d-flex flex-column ml-4">
                        <label class="multi-select-flavor-title">Sabor</label>
                        <label class="multi-select-title-description">Frango com Requeijão</label>
                        <input type="checkbox" {% if choice.0|stringformat:"s" == field.value|default_if_none:""|stringformat:"s" %} checked="checked"{% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ forloop.counter }}" value="{{ choice.0|unlocalize }}" {{ field.field.widget.attrs|flatatt }}>
                        <label class="add-flavor" for="id_{{ field.html_name }}_{{ forloop.counter }}">
                          Adicionar sabor
                        </button>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if field.errors and inline_class %}
        <div class="w-100 {%if use_custom_control%}custom-control custom-radio{% if inline_class %} custom-control-inline{% endif %}{% else %}form-check{% if inline_class %} form-check-inline{% endif %}{% endif %}">
            {# the following input is only meant to allow boostrap to render the error message as it has to be after an invalid input. As the input has no name, no data will be sent. #}
            <input type="checkbox" class="custom-control-input {% if field.errors %}is-invalid{%endif%}">
            {% include 'bootstrap4/layout/field_errors_block.html' %}
        </div>
        {% endif %}
    
        {% include 'bootstrap4/layout/help_text.html' %}
    </div>
</div>
