
{% extends "base_flow.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head %}
{{ wizard.form.media }}
<style>
.ui-datepicker-calendar {
  display: none;
  }
#ui-datepicker-div{
  position: absolute !important;
  top: 315px !important;
  left: 50% !important;
  z-index: 9999 !important;

  -webkit-transform   : translateX(-50%) translateY(-50%) !important;
  -moz-transform      : translateX(-50%) translateY(-50%) !important;
  -ms-transform       : translateX(-50%) translateY(-50%) !important;
  transform           : translateX(-50%) translateY(-50%) !important;
}
</style>
<script>
$(document).ready(function () {
  $('form').attr('autocomplete','off');
  if($('#id_cachorro_wizard-current_step').val() == "CachorroForm2"){
    // Dog bar animation
    $('.progress-bar.icon-bar').css("width","7%");
    $('.progress-bar.disabled-bar').css("width","93%");

    // Field autocomplete
    var arr = [];
    $.getJSON("/static/racas.json", function(data) {
        $.each(data, function(key, value) {
            if ($.inArray(value.name, arr) === -1) {
                arr.push(value.name)
            }
        })
    });
    $('#id_CachorroForm2-raca').autocomplete({
     source: arr,
     minLength: 2,
    })
  }
  // Dog bar animation
  if($('#id_cachorro_wizard-current_step').val() == "CachorroForm"){
    $('.progress-bar.icon-bar').css("width","0%");
    $('.progress-bar.disabled-bar').css("width","100%");
  }
  if($('#id_cachorro_wizard-current_step').val() == "CachorroForm3"){
    $("#div_id_CachorroForm3-pesoideal").hide();

    $('.progress-bar.icon-bar').css("width","13%");
    $('.progress-bar.disabled-bar').css("width","87%");

    $('#id_CachorroForm3-nascimento').change(function(){
      var years = moment().diff( moment( $('#id_CachorroForm3-nascimento').val(), "MM-YYYY" ), 'years' );
      if( years < 1 ) {
        $("#div_id_CachorroForm3-pesoideal").show();
        $("#div_id_CachorroForm3-pesoideal input").prop('required',true);
      }
    });

    $('#id_CachorroForm3-nascimento').datepicker(
      {
        dateFormat: "mm/yy",
        yearRange: "-20:+0",
        monthNamesShort: [ "Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez" ],
        changeMonth: true,
        changeYear: true,
        onClose: function(dateText, inst) {
          function isDonePressed(){
              return $(this).val(dateText)
          }

          if (isDonePressed()){
              var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
              var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
              $(this).datepicker('setDate', new Date(year, month, 1)).trigger('change');

               $('.date-picker').focusout()//Added to remove focus from datepicker input box on selecting date
          }
        },
        beforeShow : function(input, inst) {
          inst.dpDiv.addClass('month_year_datepicker')

          if ((datestr = $(this).val()).length > 0) {
              year = datestr.substring(datestr.length-4, datestr.length);
              month = datestr.substring(0, 2);
              $(this).datepicker('option', 'defaultDate', new Date(year, month-1, 1));
              $(this).datepicker('setDate', new Date(year, month-1, 1));
              $(".ui-datepicker-calendar").hide();
          }
        }
      })

  }
  if($('#id_cachorro_wizard-current_step').val() == "CachorroForm4"){
    $('.progress-bar.icon-bar').css("width","19%");
    $('.progress-bar.disabled-bar').css("width","81%");
  }
  if($('#id_cachorro_wizard-current_step').val() == "CachorroForm5"){
    $('.progress-bar.icon-bar').css("width","24%");
    $('.progress-bar.disabled-bar').css("width","76%");
  }
  if($('#id_cachorro_wizard-current_step').val() == "Sabores"){
    $('.progress-bar.icon-bar').css("width","33%");
    $('.progress-bar.disabled-bar').css("width","67%");
    $('.two').removeClass('disabled-bar');
  }
})
</script>
{% endblock %}
{% block content %}

<div class='row info-bg'>
  <div class='col-10 info-bar-text' >
    <p> Dados do seu cão - {{ wizard.steps.step1 }} </p>
  </div>
</div>
<div class='row middle'>
  <div class='col mx-auto' style="height: 100vh;">
    <form action="" method="post">
      {{ wizard.management_form }}
      {% crispy wizard.form %}
    </form>
  </div>
</div>
{% endblock %}
