
{% extends "base_flow.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head %}
{{ wizard.form.media }}
<script>
$(document).ready(function () {
  $("#openForm").click(function (){
    $("#optionalForm").show();
    $("#optionalText").hide();
  });
  $("#nextStep").click(function (){
    $("form").submit();
  });
  $('.progress-bar.icon-bar').css("width","28%");
  $('.progress-bar.disabled-bar').css("width","72%");
});
</script>
{% endblock %}
{% block content %}

<div class='row info-bg'>
  <div class='col-10 info-bar-text'>
    <p>Dados do seu cão - {{ wizard.steps.step1 }} </p>
  </div>
</div>
<div class='row middle'>
  <div class='col mx-auto'>
    <div id="optionalForm" style="display:none;">
      <form action="" method="post">
        {{ wizard.management_form }}
        {% crispy wizard.form %}
      </form>
    </div>
    <div id="optionalText" class="col-12 flex-column mx-auto my-3">
      <span class="control-label mx-auto">Algum problema de Saúde</span>
      <div class="d-flex flex-row mt-3">
        <div id="openForm" class="col-5 d-flex textinput">
          <span class="m-auto">Sim</span>
        </div>
        <div id="nextStep" class="col-5 d-flex textinput">
          <span class="m-auto">Não</span>
        </div>
      </div>
    </div>
  </div>
  <div class="endofcontent"></div>
</div>

{% endblock %}
