
{% extends "base_flow.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head %}
{{ wizard.form.media }}
<script>
$(document).ready(function () {

  if($('#id_cachorro_wizard-current_step').val() == "CachorroForm2"){
    // Dog bar animation
    $('.progress-bar.icon-bar').css("width","7%");
    $('.progress-bar.disabled-bar').css("width","93%");

    // Field autocomplete
    var arr = [];
    $.getJSON("/static/racas.json", function(data) {
        $.each(data, function(key, value) {
            if ($.inArray(value.name, arr) === -1) {
                arr.push(value.name)
            }
        })
    });
    $('#id_CachorroForm2-raca').autocomplete({
     source: arr,
     minLength: 2,
    })
  }
  // Dog bar animation
  if($('#id_cachorro_wizard-current_step').val() == "CachorroForm"){
    $('.progress-bar.icon-bar').css("width","0%");
    $('.progress-bar.disabled-bar').css("width","100%");
  }
  if($('#id_cachorro_wizard-current_step').val() == "CachorroForm3"){
    $('.progress-bar.icon-bar').css("width","13%");
    $('.progress-bar.disabled-bar').css("width","87%");
  }
  if($('#id_cachorro_wizard-current_step').val() == "CachorroForm4"){
    $('.progress-bar.icon-bar').css("width","19%");
    $('.progress-bar.disabled-bar').css("width","81%");
  }
  if($('#id_cachorro_wizard-current_step').val() == "CachorroForm5"){
    $('.progress-bar.icon-bar').css("width","24%");
    $('.progress-bar.disabled-bar').css("width","76%");
  }
})
</script>
{% endblock %}
{% block content %}

<div class='row info-bg'>
  <div class='col-10 info-bar-text'>
    <p>    <p>Dados do seu cão - {{ wizard.steps.step1 }} </p>
  </div>
</div>
<div class='row middle'>
  <div class='col mx-auto'>
    <form action="" method="post">
      {{ wizard.management_form }}
      {% crispy wizard.form %}
    </form>
  </div>
</div>
{% endblock %}
