
{% extends "base_flow.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head %}
{{ wizard.form.media }}
<script>
$(document).ready(function () {
  $("#openForm").click(function (){
    $("#optionalForm").show();
    $("#optionalText").hide();
  });
  $('.progress-bar.icon-bar').css("width","28%");
  $('.progress-bar.disabled-bar').css("width","72%");
});
</script>
<style>
input[type=checkbox]:checked + label {
  color: #03FB5C;
  box-shadow: none !important;
}
.special-btn{
  padding-top: 24px;
}
</style>
{% endblock %}
{% block content %}
<div class='row middle'>
  <div class='col mx-auto'>
    <div id="optionalForm" style="display:none;">
      <form action="" method="post">
        {{ wizard.management_form }}
        {% crispy wizard.form %}
      </form>
    </div>
    <div id="optionalText" class="col-12 flex-column mx-auto my-3">
      <span class="control-label mx-auto">Algum problema de Saúde</span>
      <div class="d-flex flex-row mt-3">
        <div class="col-5 d-flex textinput">
          <input type="checkbox" id="openForm">
          <label for="openForm" class="m-auto special-btn h-100 w-100">
            Sim
          </label>
        </div>
        <div class="col-5 d-flex textinput">
          <input type="checkbox" id="nextStep">
          <label for="nextStep" class="m-auto special-btn h-100 w-100">
            Não
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="endofcontent"></div>
</div>

{% endblock %}
