
{% extends "base_flow.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head %}
{{ wizard.form.media }}
<script>
$(document).ready(function () {
  $("#openForm").click(function (){
    $("#optionalForm").show();
    $("#optionalText").hide();
  });
  $('.progress-bar.icon-bar').css("width","28%");
  $('.progress-bar.disabled-bar').css("width","72%");
});
</script>
<style>

.special-btn{
  padding-top: 24px;
}
</style>
{% endblock %}
{% block content %}
<div class='row middle'>
  <div class='col mx-auto'>
    <div id="optionalForm" style="display:none;">
      <form action="" method="post">
        {{ wizard.management_form }}
        {% crispy wizard.form %}
      </form>
    </div>
    <div id="optionalText" class="col-12 flex-column mx-auto my-3">
      <span class="control-label col-11 mx-auto">Algum problema de Saúde?</span>
      <div class="radio-toolbar">
        <div class="row flex-column flex-sm-row">
          <div class="col"> <div class="d-flex">
            <input type="radio" id="openForm" name="CachorroForm-especial" value="Sim">
            <label class="first-description mx-auto" for="openForm">
                Sim
            </label>
          </div>
        </div>
        <div class="col">
          <div class="d-flex">
            <input type="radio" id="nextStep" name="CachorroForm-especial" value="Não">
            <label class="first-description mx-auto" for="nextStep">
                Não
            </label>
          </div>
         </div>
       </div>
     </div>
    </div>
  </div>
  <div class="endofcontent"></div>
</div>

{% endblock %}
