{% extends "base_checkout.html" %}
{% load static %}
{% load mathfilters %}
{% block head %}
<style>
body{
  padding-top: 0px!important;
}
.blue{
  color: #0033B2!important;
}
.green{
  color: #00FB5C!important;
}
</style>
{% endblock %}
{% block content %}
<div>
  <div class="detail-page">
    <img alt="Logo Ração do futuro" class="logo" src="{% static 'css/images/dog-logo-2.png' %}" alt="logo" />
    <h1 class="detail-page-title">O que você quer fazer?</h1>
    <h2 class="detail-page-subtitle">Escolha uma das opções abaixo:</h2>
    <button class="detail-page-simple-button"><a class="blue" href="{% url 'clientflow_dogflow'%}"> Adicionar novo cão</a></button>
    <button class="detail-page-simple-button"><a class="blue" href="{% url 'clientflow_Carrinho_2'%}">Detalhes do pedido</a></button>
    {% for object in object_list %}

    {% if forloop.first %}
    <div class="detail-page-footer">
      <div class="terms-container">
        <label class="terms-checkbox">
          <span class="col-10 float-right">Eu li e concordo com os termos de uso e politica de privacidade.
          </span>
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="info-container">
        <div class="finish-order-line">
          <p class="finish-order-description">Assinatura <span class="bold-text">x{{forloop.revcounter}}</span> Cão</p>
          <p class="finish-order-description text-line-through">R${{object.get_valor_carrinho|mul:10|div:9|floatformat:-2}}</p>
        </div>
        <div class="finish-order-line">
          <p class="finish-order-description">Desconto primeiros assinantes:</p>
          <p class="finish-order-description">R${{object.get_valor_carrinho|div:9|floatformat:-2}}</p>
        </div>
        <div class="finish-order-line">
          <p class="finish-order-description">Cupom de desconto</p>
          <p class="finish-order-description">Não informado</p>
        </div>
        <div class="finish-order-last-line">
          <p class="finish-order-last-description">
            <img alt="Carrinho" class="mr-4 cart-img" src="{% static 'css/images/shopping-cart.png' %}"/>Valor total
          </p>
          <p class="finish-order-last-description">R$ {{object.get_valor_carrinho}}</p>
        </div>
        <button class="finish-order-button"><a class="green" href="{% url 'adicionar_ao_carrinho'  %}"> Finalizar Compra</a><img alt="Seta para direita" class="ml-4" src="{% static 'css/images/right-arrow.png' %}"/></button>
      </div>
    </div>
    {% endif %}

    {% endfor%}
  </div>
</div>
{% endblock %}
