{% extends "base_checkout.html" %}
{% load static %}
{% load mathfilters %}
{% block head %}
<style>
body{
  padding-top: 0px!important;
}
.blue{
  color: #203976!important;
}
.green{
  color: #1db954!important;
}
#termosdeuso{
  margin-top:45px;
}
</style>
{% endblock %}
{% block content %}
<div>
  <div id="termosdeuso" style="display:none;">
    <a onclick="closeTermos()">
      <svg style="margin-top: 20px;" class="delete-icon" width="33px" height="33px" viewBox="0 0 33 33" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
          <g class="icon_trash">
            <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z" id="Combined-Shape" fill="#FF2650" fill-rule="evenodd" stroke="none"></path>
          </g>
      </svg>
    </a>
    <iframe id="termosdeusoframe" style="width: 100%; height: 100vw; border:0;"></iframe>
  </div>
  <div class="detail-page">
    <img alt="Logo Ração do futuro" class="logo" src="{% static 'css/images/dog-logo-2.png' %}" alt="logo" />
    <h1 class="detail-page-title">O que você quer fazer?</h1>
    <h2 class="detail-page-subtitle">Escolha uma das opções abaixo:</h2>
    <button class="detail-page-simple-button"><a class="blue" href="{% url 'clientflow_dogflow'%}"> Adicionar novo cão</a></button>
    <button class="detail-page-simple-button"><a class="blue" href="{% url 'clientflow_Carrinho_2'%}">Detalhes do pedido</a></button>
    {% for object in object_list %}

    {% if forloop.first %}
    <div class="detail-page-footer">
      <div class="info-container">
        <div class="finish-order-line">
          <p class="finish-order-description">Assinatura <span class="bold-text">x{{forloop.revcounter}}</span> Cão</p>
          <p class="finish-order-description text-line-through">R${{object.get_valor_carrinho|sub:object.get_valor_frete|mul:10|div:9|floatformat:-2}}</p>
        </div>
        <div class="finish-order-line">
          <p class="finish-order-description">Desconto primeiros assinantes:</p>
          <p class="finish-order-description">R${{object.get_valor_carrinho|sub:object.get_valor_frete|div:9|floatformat:-2}}</p>
        </div>
        <div class="finish-order-line">
          <p class="finish-order-description">Frete:</p>
          <p class="finish-order-description">R${{object.get_valor_frete|floatformat:-2}}</p>
        </div>
        <div class="finish-order-last-line">
          <p class="finish-order-last-description">
            <img alt="Carrinho" class="mr-4 cart-img" src="{% static 'css/images/shopping-cart.png' %}"/>Valor total
          </p>
          <p class="finish-order-last-description">R$ {{object.get_valor_carrinho|floatformat:-2}}</p>
        </div>
        <button class="finish-order-button"><a class="green" href="{% url 'adicionar_ao_carrinho'  %}"> Finalizar Compra</a><img alt="Seta para direita" class="ml-4" src="{% static 'css/images/right-arrow.png' %}"/></button>
      </div>
    </div>
    {% endif %}

    {% endfor%}
  </div>
</div>
{% endblock %}
