{% extends "base_flow.html" %}
{% load static %}
{% load mathfilters %}
{% block head %}
<style>
.rounded-lg {
border-radius: 1rem;
}
.green{
  color: #1db954!important;
}
.nav-pills .nav-link {
color: #555;
}

.nav-pills .nav-link.active {
color: #000000;
}
.acc-header{
  height: 77px;
  background: #F2F8FF;
  padding-left: 15px;
  margin-left: -15px;
  padding-right: 15px;
  margin-right: -15px;
}
.acc-header.collapsed{
  background: #FFF!important;
}
.full-hr{
  border: 1px solid #D3D3D3;
  border-left: 0px;
  border-right: 0px;
  margin: 0px -15px 0px -15px;

}
.accordion .acc-header:after {
  content: ">";
  transform: rotate(270deg);
  float: right;
  color:#203976;
}
.accordion .acc-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "<";
}
#termosdeuso{
  margin-top:45px;
}
#main-page{
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 198px); */
}
</style>
<script src="{% static 'js/jquery.card.js' %}"></script>
<script src="{% static 'js/jquery.creditCardValidator.js' %}"></script>
<script>
  function openTermos() {
    document.getElementById('termosdeuso').style.display = "";
    document.getElementById('main-page').style.display = "none";
    document.getElementById('termosdeusoframe').src = "{% static 'termos.html'%}";
    window.scrollTo(0,0);
  }
  function closeTermos(){
    document.getElementById('termosdeuso').style.display = "none";
    document.getElementById('main-page').style.display = "";
  }
  function openPolitica() {
    document.getElementById('politica').style.display = "";
    document.getElementById('main-page').style.display = "none";
    document.getElementById('politicaframe').src = "{% static 'politica.html'%}";
    window.scrollTo(0,0);
  }
  function closePolitica(){
    document.getElementById('politica').style.display = "none";
    document.getElementById('main-page').style.display = "";
  }
  $(document).ready(function () {

    $('#cupomsubmit').click(function(){
      cupomValue = $(this).parent().children()[0].value
      $( '#cupomMessage' ).text("Processando...");
      $( '#cupomMessage' ).show()
      $.ajax({
        type:"GET",
        url: "/cupom",
        data:{
          cupom: cupomValue,
          carrinho: {{carrinho}},
        },
        success: function( data )
        {
          var patt = new RegExp("[0-9]");
          var res = patt.test(data);
          if(res){
            $( '#cupomMessage' ).text("🐶 Você obteve um desconto de "+data+" reais!");
            $( '#cupomMessageValor' ).text("R$"+data);
            var oldValor = parseFloat( $( '#valorTotal' ).text() ).toFixed(2)
            $( '#valorTotal' ).text( ( oldValor - parseFloat(data) ).toFixed(2));
          }
          else{
            $( '#cupomMessage' ).text(data);
          }
        }
      })
    });

    $('form').submit(function(){
      $('.info-container button a').text("Processando...")
      $('.info-container button a').removeAttr("onclick");
    });
    $('#submit-btn').hide()
    $('.progress-bar.icon-bar').css("width","100%");
    $('.two').removeClass('disabled-bar');
    $('.three').removeClass('disabled-bar');

    $('form').card({
      container: '#card-container',
      placeholders: {
        name: 'NOME COMPLETO',
      },
      formSelectors: {
          expiryInput: 'input[name="expm"], input[name="expy"]',
      }
    });
  });

  function submitform(){
    let val = $("[name='number']").validateCreditCard();
    if (val.valid == false){
        alert("Revise os dados do seu cartão para poder continuar")
    }
    else if(val.valid == true){
      $("#submit-btn").click();
    }
  }
</script>
{%endblock%}
{% block content %}
<div id="termosdeuso" style="display:none;">
  <a onclick="closeTermos()">
    <svg style="margin-top: 20px;" class="delete-icon" width="50px" height="50px" viewBox="0 0 33 33" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
      <g class="icon_trash">
        <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z" id="Combined-Shape" fill="#FF2650" fill-rule="evenodd" stroke="none"></path>
      </g>
    </svg>
  </a>
  <iframe id="termosdeusoframe" style="width: 100%; height: 100vw; border:0;"></iframe>
</div>
<div id="politica" style="display:none;">
  <a onclick="closePolitica()">
    <svg style="margin-top: 20px;" class="delete-icon" width="50px" height="50px" viewBox="0 0 33 33" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
      <g class="icon_trash">
        <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z" id="Combined-Shape" fill="#FF2650" fill-rule="evenodd" stroke="none"></path>
      </g>
    </svg>
  </a>
  <iframe id="politicaframe" style="width: 100%; height: 100vw; border:0;"></iframe>
</div>
<div id="main-page">
  <div class='row' style="height: 96px;">
    <div class='col-10 mx-auto'>
      <h1 class="dash-title">Checkout</h1>
      <h2 class="dash-subtitle m-2">Finalize agora seu {{plano|lower}}</h2>
    </div>
  </div>
  <div style="margin: 0px -15px">
    <div class="col-md-10 mx-auto d-flex">
      <div id="accordion" class="flex-grow-1 accordion">
        <hr class="full-hr">
          <!-- <div class="acc-header collapsed pt-4" data-toggle="collapse" href="#collapseOne">
              <a class="card-dash-subtitle"> Cupom de Desconto </a>
          </div>
          <hr class="full-hr"> -->
          <!-- <div id="collapseOne" class="custom-card collapse" data-parent="#accordion">
            <div class="col-md-10 d-flex mx-auto">
              <input type="text" style="width:auto;" name="cupominput" maxlength="150" placeholder="Insira seu cupom" class="textinput mr-2" id="cupominput">
              <input type="submit" style="width:auto;" name="cupomsubmit" value="Aplicar" class="textinput flex-grow-1 ml-2" id="cupomsubmit">
            </div>
            <div class="col-md-10 d-flex mx-auto">
              <p class="dash-subtitle mx-auto" id="cupomMessage" style="display:none"></p>
            </div>
          </div> -->
          <div class="acc-header pt-4" data-toggle="collapse" aria-expanded="true" data-parent="#accordion" href="#collapseTwo">
              <a class="card-dash-subtitle"> Dados do Cartão </a>
          </div>
          <hr class="full-hr">
          <div id="collapseTwo" class="custom-card collapse show" data-parent="#accordion">
            <div class="mb-2" id="card-container" style="max-width:80vw;">
            </div>
            <div class="card">
              <div class="custom-card">
                <form method="post" role="form">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="username">Nome Completo</label>
                    <input type="text" name="name" placeholder="Nome no cartão" required class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="cardNumber">Número do cartão</label>
                    <div class="input-group">
                      <input type="text" name="number" placeholder="•••• •••• •••• ••••" class="form-control" required>
                      <div class="input-group-append">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label><span class="hidden-xs">Data de vencimento</span></label>
                        <div class="input-group d-inline-flex">
                          <input type="text" placeholder="MM" name="expm" class="form-control" required>
                          <input type="text" placeholder="YY" name="expy" maxlength=2 class="form-control" required>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group mb-4">
                        <label data-toggle="tooltip" title="Últimos 3 números no verso do seu cartão">Código de Segurança
                          <i class="fa fa-question-circle"></i>
                        </label>
                        <input type="text" name="cvc" required class="form-control">
                      </div>
                    </div>
                  </div>
                  <button type="submit" id="submit-btn"></button>
                </form>
              </div>
            </div>
            <div class="d-flex">
              <img
                alt="icone pagseguro"
                class="img-fluid mx-auto"
                src="{% static 'ico/icone_pagseguro.png' %}"
                style="transform: scale(0.7);" />
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row mt-auto">
    <div class="terms-container">
      <label class="terms-checkbox">
        <span class="col-10 float-right">Eu li e concordo com os <a onclick="openTermos()"><u>termos de uso</u></a> e <a onclick="openPolitica()"><u>politica de privacidade</u></a>.
        </span>
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="info-container">
      <div class="finish-order-line">
        <p class="finish-order-description">Assinatura <span class="bold-text">x{{pedidos}}</span> Cão</p>
        <p class="finish-order-description text-line-through">R${{valor|sub:frete|addition:desconto|mul:2|floatformat:-2}}</p>
      </div>
      <div class="finish-order-line">
        <p class="finish-order-description">Desconto Black Friday:</p>
        <p class="finish-order-description">R${{valor|sub:frete|addition:desconto|floatformat:-2}}</p>
      </div>
      <div class="finish-order-line">
        <p class="finish-order-description">Frete:</p>
        <p class="finish-order-description">R${{frete|floatformat:-2}}</p>
      </div>
      <div class="finish-order-line">
        <p class="finish-order-description">Cupom de desconto:</p>
        <p class="finish-order-description" id="cupomMessageValor">{% if desconto != 0 %}R${{desconto}}{% else %}Não informado{% endif%}</p>
      </div>
      <div class="finish-order-last-line">
        <p class="finish-order-last-description">
          <img alt="Carrinho" class="mr-4 cart-img" src="{% static 'css/images/shopping-cart.png' %}"/>Valor total
        </p>
        <p class="finish-order-last-description">R$ <span id="valorTotal">{{valor}}</span></p>
      </div>
      <button class="finish-order-button"><a class="green" onclick="submitform()" > Finalizar Compra</a><img alt="Seta para direita" class="ml-4" src="{% static 'css/images/right-arrow.png' %}"/></button>
    </div>
  </div>
</div>
{% endblock %}
