{% extends "base_flow.html" %}
{% load static %}
{% block head %}
  <style>
  .rounded-lg {
  border-radius: 1rem;
  }

  .nav-pills .nav-link {
  color: #555;
  }

  .nav-pills .nav-link.active {
  color: #fff;
  }
</style>
<script src="{% static 'js/jquery.card.js' %}"></script>
<script src="{% static 'js/jquery.creditCardValidator.js' %}"></script>
<script>
  $(document).ready(function () {
    $('#submit-btn').hide()
    $('.progress-bar.icon-bar').css("width","100%");
    $('.two').removeClass('disabled-bar');
    $('.three').removeClass('disabled-bar');

    $('form').card({
      container: '#card-container',
      placeholders: {
        name: 'NOME COMPLETO',
      },
      formSelectors: {
          expiryInput: 'input[name="expm"], input[name="expy"]',
      }
    });
  });
  function bandeiraCartao(nr) {
    var cartoes = {
      visa: /^4|2/,
      mastercard: /^5/,
      amex: /^3/,
    };
    for (var cartao in cartoes) if (nr.match(cartoes[cartao])) return cartao;
    return false;
  }
  function submitform(){
    let val = $("[name='number']").validateCreditCard();
    if (val.valid == false){
        alert("Revise os dados do seu cartão para poder continuar")
    }
    else if(val.valid == true){
      $("[name='brand']").val( bandeiraCartao( $("[name='number']").val()  ) );
      $("#submit-btn").click();
    }
  }

</script>
{%endblock%}
{% block content %}
<div class='row info-bg'>
  <div class='col-10 info-bar-text'>
    <p>Checkout</p>
  </div>
</div>
<div class="row d-flex middle">
  <div class="col-12 flex-column text-center control-label mx-auto m-2">
    <p>{{plano}} no valor de R${{valor}}</p>
    <p>Insira os dados do seu cartão</p>
  </div>
  <div class="col-md-8 mx-auto">
    <!-- credit card info-->
    <div class="card">
      <div class="card-body mb-2" id="card-container">
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <form method="post" role="form">
          {% csrf_token %}
          <div class="form-group">
            <label for="username">Nome Completo</label>
            <input type="text" name="name" placeholder="Nome no cartão" required class="form-control">
          </div>
          <div class="form-group">
            <label for="cardNumber">Número do cartão</label>
            <div class="input-group">
              <input type="text" name="number" placeholder="•••• •••• •••• ••••" class="form-control" required>
              <div class="input-group-append">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label><span class="hidden-xs">Data de vencimento</span></label>
                <div class="input-group d-inline-flex">
                  <input type="text" placeholder="MM" name="expm" class="form-control" required>
                  <input type="text" placeholder="YYYY" name="expy" minlength=4 class="form-control" required>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group mb-4">
                <label data-toggle="tooltip" title="Últimos 3 números no verso do seu cartão">Código de Segurança
                  <i class="fa fa-question-circle"></i>
                </label>
                <input type="text" name="cvc" required class="form-control">
              </div>
            </div>
          </div>
          <input type="hidden" name="brand">
          <button type="submit" id="submit-btn"></button>
        </form>
      </div>
    </div>
    <!-- End -->
    <div class="d-flex"><img class="img-fluid mx-auto" src="{% static 'ico/icone_pagseguro.png' %}"></div>
  </div>
</div>
<div class="endofcontent"></div>
<div class="footer margin-footer">
  <a onclick="submitform()" class="footer-text btn-next">
  Concluir compra
  </a>
</div>
{% endblock %}
