{% extends "base_dash.html" %}
{% load static %}
{% block head %}
<script src="{% static 'js/siema.min.js' %}"></script>
<script>
  $(document).ready(function() {
    const carousel = new Siema({
      selector: '.siema',
      duration: 1250,
      startIndex: 0,
      perPage: {
        597: 2,
        897: 3,
      },
    });
    setTimeout(() => carousel.next(), 1000)
  });

</script>
<style>
.siema > div {
  /* width:850px !important; */
  margin-left: auto;
  margin-right: auto;
}
.dogdash-card{
  background-color: #FFFFFF;
  box-shadow: 0px 15px 30px 0 #0000000D;
  border-radius: 40px;
  min-width: 258px;
  height: 294px;
}
a, a:hover{
  color:#00418F!important;
}
</style>

{% endblock %}
{% block content %}
<div class='d-flex-column'>
  <div class="row d-flex">
    <div class='pt-5 pl-5 mt-4 col-12 col-md-7 mx-auto'>
      <p class="pl-1 dash-title">Painel Humano.</p>
      <p class="pl-1 dash-subtitle" style="margin-top:-20px;" >Você está editando informações pessoais.</p>
    </div>
  </div>
  <div class="siema">
    <div class="m-2 pt-4 pl-4 text-decoration-none mx-auto dogdash-card">
      <p class="card-dash-title" style="margin-bottom: 4px;" >Olá
      <p class="dash-title" style="font-size: 26px;">{{user.nome}},</p>
      <p class="card-dash-centered-text pt-3">
        <a href="{% url 'user-profile' %}"> Editar informações humanas</a>
      </p>
    </div>
    <div class="m-2 pt-4 pl-4 text-decoration-none mx-auto dogdash-card">
      <p class="card-dash-title" style="margin-bottom: 4px;" >Seus
      <p class="dash-title" style="font-size: 26px;">Planos na plataforma</p>
      <p class="card-dash-centered-text pt-3">
        <a href="{% url 'clientflow_Pedido_list' %}"> Visualizar ou editar planos</a>
      </p>
    </div>
    <div class="m-2 pt-4 pl-4 text-decoration-none mx-auto dogdash-card">
      <p class="card-dash-title" style="margin-bottom: 4px;" >O futuro é sobre
      <p class="dash-title" style="font-size: 26px;">Sustentabilidade</p>
      <p class="card-dash-centered-text pt-3">
        Uma porcentagem do plástico usado na Ração do Futuro é compensado por uma empresa parceira.
      </p>
    </div>
  </div>
  <!-- <div class="row d-flex mx-auto col-md-6">
      <a
        class="col-5 m-3 mx-auto text-decoration-none text-center dash-btn-text dash-btn"
        href="{% url 'clientflow_Carrinho_list' %}">
        Carrinho
      </a>
      <a
      class="col-5 m-3 mx-auto text-decoration-none text-center dash-btn-text dash-btn"
      href="{% url 'clientflow_Pedido_list' %}">
        Pedidos
      </a>
      <a
      class="col-5 m-3 mx-auto text-decoration-none text-center dash-btn-text dash-btn"
      href="{% url 'user-profile-update' %}">
        Endereço
      </a>
      <a
      class="col-5 m-3 mx-auto text-decoration-none text-center dash-btn-text dash-btn">
        Suporte
      </a>
      <a
      class="col-5 m-3 mx-auto text-decoration-none text-center dash-btn-text dash-btn"
      href="{% url 'clientflow_Cachorro_list' %}">
        Meus cães
      </a>
      <a
      class="col-5 m-3 mx-auto text-decoration-none text-center dash-btn-text dash-btn"
      href="{% url 'clientflow_dogflow' %}">
        Novo cão
      </a>
  </div> -->
</div>
<div class="endofcontent"></div>
{% endblock %}
