{% extends "base_client.html" %}
{% block head %}
<style>
.circle-background{
  opacity: 0.7;
}
.circle-container{
  z-index:0;
}
.color-circle{
    position: absolute;
    top: -80px;
    right: -180px;
    width: 400px;
    height: 400px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #25A1FB), color-stop(100%, #00418F));
    border-radius: 50%;
    z-index: 2;
    animation: spin 2s infinite linear;
  }
  .inner-circle{
    position: absolute;
    top: 0;
    right: 0;
    width: 230px;
    height: 230px;
    margin: 86px;
    border-radius: 50%;
    background-color: #eee;
    box-shadow: inset 0 12px 3px -7px #fff, 0 7px 34px -4px rgba(0,0,0,0.6),0 16px 12px rgba(0,0,0,0.1);
    z-index: 4;
  }
  @-webkit-keyframes spin{
    0%{
      transform: rotateZ(0deg);
    }
    100%{
      transform: rotateZ(360deg);
    }
  }
.dash-btn{
  height: 117px;
  border-radius: 24px;
  background: #ffffff;
  box-shadow: 0px 3px 13px rgba(220,220,220,0.5);
}
</style>
{% endblock %}

{% block content %}
<div class='row'>
  <div class='col-8 mx-auto dash-btn'>
    <p>Dashboard</p>
  </div>
</div>
<div class="row d-flex middle">
  <div class="col-12 text-center control-label flex-column mx-auto">
    <a
      class="round-btn p-4 text-white text-decoration-none mx-auto m-4"
      href="{% url 'clientflow_Pedido_list' %}">
      Meus pedidos
    </a>
    <a
    class="round-btn p-4 text-white text-decoration-none m-4 mx-auto"
    href="{% url 'clientflow_Cachorro_list' %}">
      Meus dogs
    </a>
    <a
    class="round-btn p-4 text-white text-decoration-none mx-auto m-4"
    href="{% url 'clientflow_Carrinho_list' %}">
      Carrinho
    </a>
  </div>
</div>
<div class="endofcontent"></div>
<div class="footer margin-footer">
  <p class="footer-text ">
  </p>
</div>
{% endblock %}
