{% extends "base_client.html" %}
{% load static %}
{% block head %}
<style>
a, a:hover{
  color:#00FF30!important;
}
</style>
{% endblock %}
{% block content %}
<div class="row d-flex-column middle justify-content-center mx-auto">
  <div style="padding-top: 10%;" class='col-10 col-lg-6 mx-auto mb-2'>
    <p class="pl-1 dash-title">Parabéns! O passo mais importante foi dado!</p>
    <div class="pl-1 dash-subtitle" style="margin-top:-20px;">
      <p>Parabéns! O passo mais importante foi dado!</p>

      <p>Clique no botão abaixo para receber sua dieta.</p>
      <div style="height:auto!important;" class="col-12 col-md-7 m-4 mx-auto text-decoration-none dash-btn">
        <div class="col">
          <div class="d-flex radio-toolbar">
            <a class="first-description mx-auto" href="https://api.whatsapp.com/send?l=pt-BR&phone=5548996793978&text=Quero%20receber%20minha%20dieta!">Receber minha dieta</a>
          </div>
        </div>
        <span class="dog-card-img-2 mt-2"></span>
      </div>

      <p>Como o cãozinho tem problemas de saúde, nosso time veterinário irá analisar o quadro clínico antes de recomendar uma alimentação.</p>

      <p>Obrigado</p>
    </div>
  </div>
</div>
<div class="endofcontent"></div>
{% endblock %}
