{% extends "base_client.html" %}
{% load static %}
{% block head %}
<style>
a, a:hover{
  color:#00FF30!important;
}
</style>
{% endblock %}
{% block content %}
<div class="row d-flex-column middle justify-content-center mx-auto">
  <div style="padding-top: 10%;" class='col-10 col-lg-6 mx-auto mb-2'>
    <p class="pl-1 dash-title">Parabéns! O passo mais importante foi dado!</p>
    <div class="pl-1 dash-subtitle" style="margin-top:-20px;">

      <p>Como o cãozinho tem problemas de saúde, nosso time veterinário irá analisar o quadro clínico antes de recomendar uma alimentação.</p>
      <p>Entraremos em contato pelo número que você forneceu!</p>

      <p>Obrigado.</p>
    </div>
  </div>
</div>
<div class="endofcontent"></div>
{% endblock %}
