{% extends "base_client_2.html" %}
{% load static %}
{% load mathfilters %}


{% block content %}
<div class="row">
  <div style="height:auto!important;" class="col-10 col-md-7 m-4 mx-auto text-decoration-none dash-btn">
    <p class="card-dash-centered-text text-left">
      <table>
        <tbody>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Valor</th>
            <th>Nome do Dog</th>
            <th>Nascimento</th>
            <th>Plano</th>
            <th>Calculo mensal</th>
            <th>Carne de Panela</th>
            <th>Frango Xadrez</th>
            <th>Risoto Suino</th>
            <th>Criado em</th>
          </tr>
          {% for item in lista %}
          <tr>
            <th>{{item.idClient.nome}} {{item.idClient.sobrenome}} </th>
            <th>{{item.idClient.email}} </th>
            <th>{{item.valor}} </th>
            <th>{{item.idDog.nome}} </th>
            <th>{{item.idDog.nascimento}} </th>
            <th>{{item.idPlano.nome}}</th>
            {% with refeicoes=item.idPlano.refeicoes calculomes=item.idDog.calculomes s=item.idDog.sabores|length %}
            <th>{{calculomes|mul:refeicoes|div:28|floatformat}}</th>
            <th>{% if "Carne de panela" in item.idDog.sabores %} {{calculomes|mul:refeicoes|div:28|div:s|floatformat}} {% endif %}</th>
            <th>{% if "Frango Xadrez" in item.idDog.sabores %} {{calculomes|mul:refeicoes|div:28|div:s|floatformat}} {% endif %}</th>
            <th>{% if "Risoto Suíno" in item.idDog.sabores %} {{calculomes|mul:refeicoes|div:28|div:s|floatformat}} {% endif %}</th>
            {% endwith %}
            <th>{{item.created}}</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </p>
    <hr class="custom-hr" style="margin: -80px -15px 50px -15px;">
  </div>
</div>
<div class="endofcontent"></div>
{% endblock %}
