{% extends "base_client_2.html" %}
{% load static %}
{% load mathfilters %}
{% block head %}
<style>
span > a, span > a:hover{
  color:#1db954!important;
}
p > a, p > a:hover{
  color:#203976!important;
}
</style>
<script>
  function PrintElem(elem)
  {
      var mywindow = window.open('', 'PRINT', 'height=400,width=600');

      mywindow.document.write('<html><head><title></title>');
      mywindow.document.write(document.head.innerHTML);
      mywindow.document.write('</head><body>');
      mywindow.document.write(document.getElementById(elem).innerHTML);
      mywindow.document.write('</body></html>');

      mywindow.document.close(); // necessary for IE >= 10
      mywindow.focus(); // necessary for IE >= 10*/

      mywindow.print();
      return true;
  }
</script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-10 d-flex-column">
    <div class='pt-5 pl-1 mt-4 col-12 col-md-7 mx-auto'>
      <p class="pl-3 dash-title"><span style="font-weight:600">Entregas</span> a realizar.</p>
    </div>
  </div>
</div>

  {% for object in pedidos %}
  <div class="row">
    <div style="height:auto!important;" id="pageElem-{{obj}}" class="col-10 col-md-7 m-4 mx-auto text-decoration-none dash-btn">
      <div class="d-flex justify-content-end">
        <button onclick="PrintElem('pageElem-{{obj}}')" class="btn btn-info mr-2">Imprimir</button>
      </div>
      <p class="dog-card-title dash-btn-text" >
        nº{{object}} - <span style="font-weight:400">{{object.idClient.nome}} {{object.idClient.sobrenome}} </span>
      </p>
      <p class="card-dash-title text-center">
      Dados do cliente
      </p>
      <p class="card-dash-centered-text text-left">
        <span style="font-weight:500">Telefone:</span>
        ({{object.idClient.areatelefone}}) {{object.idClient.telefone}}
      </p>
      <p class="card-dash-centered-text text-left">
        <span style="font-weight:500">Endereço:</span>
        {{object.idClient.rua}}, {{object.idClient.numero}}<br>
        <span style="font-weight:500">Bairro:</span>
        {{object.idClient.bairro}}<br>
        <span style="font-weight:500">Complemento:</span>
        {{object.idClient.complemento}}
      </p>

      <p class="card-dash-title text-center">
      Dados da entrega
      </p>
      <p class="card-dash-centered-text text-left">
        <span style="font-weight:500">Periodo:</span>
        {{object.idEntrega.periodo}}<br>
        <span style="font-weight:500">Dia:</span>
        {{object.idEntrega.dia}}
      </p>

      <p class="card-dash-title text-center">
      Dados do Pedido
      </p>
      <p class="card-dash-centered-text text-left">
        <span style="font-weight:500">Dog:</span>
        {{object.idDog.nome}}<br>
        <span style="font-weight:500">Dieta:</span>
        {{object.idDog.calculodia}} gramas/dia<br>
        <span style="font-weight:500">Valor:</span>
        R${{object.valor}}<br>
        <span style="font-weight:500">Sabores:</span>
        {% for key in object.idDog.sabores %}
        {{key}}<br>
        {% endfor %}
        <span style="font-weight:500">Plano:</span>
        {{object.idPlano.nome}}<br>
        <span style="font-weight:500">Frequência:</span>
        {{object.idEntrega.get_frequencia_display}}<br>
        <span style="font-weight:500">Quantidade à separar:</span>
        {% with refeicoes=object.idPlano.refeicoes calculomes=object.idDog.calculomes %}
          {{calculomes|mul:refeicoes|div:28}}kg
        {% endwith %}

      </p>

      <hr class="custom-hr" style="margin: -80px -15px 50px -15px;">
      <p class="card-dash-centered-text">
      <span style="font-weight:500">{{object.idEntrega.get_preferencia_display}}</span>
      </p>
    </div>
  </div>
  {% endfor %}
</div>
<div class="endofcontent"></div>
{% endblock %}
