{% extends "base_client_2.html" %}
{% load static %}
{% load mathfilters %}


{% block content %}
<div class="row">
  <div style="height:auto!important;" class="col-10 col-md-7 m-4 mx-auto text-decoration-none dash-btn">
    <p class="card-dash-centered-text text-left">
      <table>
        <tbody>
          <tr>
            <th>Nome</th>
            <th>Nascimento</th>
            <th>Calculo mensal</th>
            <th>Plano</th>
            <th>Adesao em</th>
          </tr>
          {% for item in lista %}
          <tr>
          <th>{{item.idDog.nome}}</th>
          <th>{{item.idDog.nascimento}}</th>
          {% with refeicoes=item.idPlano.refeicoes calculomes=item.idDog.calculomes %}
          <th>{{calculomes|mul:refeicoes|div:28}}</th>
            <th>{{item.idPlano.nome}}</th>
            <th>{{item.created}}</th>
            {% for key in item.idDog.sabores %}
            <th>{{key}}</th>
            {% endfor %}
          {% endwith %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </p>
    <hr class="custom-hr" style="margin: -80px -15px 50px -15px;">
  </div>
</div>
<div class="endofcontent"></div>
{% endblock %}
