{% extends "base_client_2.html" %}
{% load static %}
{% load mathfilters %}


{% block content %}
<div class="row">
  <div style="height:auto!important;" class="col-10 col-md-7 m-4 mx-auto text-decoration-none dash-btn">
    <p class="card-dash-centered-text text-left">
      <table>
        <tbody>
          <tr>
            <th>Nome</th>
            <th>Email</th>
          </tr>
          {% for item in lista %}
          <tr>
            <th>{{item.idClient.nome}} {{item.idClient.sobrenome}} </th>
            <th>{{item.idClient.email}} </th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </p>
    <hr class="custom-hr" style="margin: -80px -15px 50px -15px;">
  </div>
</div>
<div class="endofcontent"></div>
{% endblock %}
