
{% extends "base.html" %}
{% load static %}
{% block content %}
<div class='row info-bg'>
  <div class='col-10 info-bar-text'>
    <p>Deletar um Dog</p>
  </div>
</div>
<div class="row d-flex middle">
  <div class="col-12 text-center control-label mx-auto m-4 p-4">
    <h3>Pronto! Você removeu um pedido da sua conta.</h3>
  </div>
  <div class="col=12 text-center control-label round-btn mx-auto m-4 p-4">
    <a href="/Cachorro/" class="mx-auto text-white text-decoration-none">
        Deseja adicionar um novo pedido?
    </a>
  </div>
</div>
<div class="footer margin-footer">
  <p class="footer-text ">
  </p>
</div>
{% endblock %}
