{% extends "base_client.html" %}
{% load static %}
{% block head %}
<style>
a, a:hover{
  color:#00FF30!important;
}
</style>
{% endblock %}
{% block content %}
<div class="row d-flex-column middle justify-content-center mx-auto">
  <div style="padding-top: 10%;" class='col-10 col-lg-6 mx-auto mb-2'>
    <p class="pl-1 dash-title">{% if object_list|length > 1 %}Seu plano{% else %}Seus planos{% endif %}.</p>
    <p class="pl-1 dash-subtitle" style="margin-top:-20px;">Caso queira alterar entre em contato conosco.</p>
  </div>
  {% for object in object_list %}
  {% ifchanged %}
    <div class="text-center custom-hr col-12 control-label text-center m-2 p-2">
      <span class="d-flex align-items-center">{{object.get_status_display}}</span>
    </div>
  {% endifchanged %}
  <div style="height:auto!important;" class="col-12 col-md-7 m-4 mx-auto text-decoration-none dash-btn">
    <p class="dash-title dash-btn-text font-weight-bold" >
      {{object.idDog.nome}}
    </p>
    <p class="card-dash-subtitle" style="margin-top:-20px;">
      {{object.idDog.raca}}
    </p>
    <hr>
    <span class="card-dash-title">Plano:</span><br><span class="card-dash-subtitle">{{object.idPlano.nome}}</span><br>
    <span class="card-dash-title">Sabores:</span><br><span class="card-dash-subtitle">{{object.idDog.sabores_name}}</span><br>
    <span class="card-dash-title">Entrega:</span><br><span class="card-dash-subtitle">{{object.idEntrega.get_frequencia_display}}</span><br>
    <span class="card-dash-title">A receber:</span><br><span class="card-dash-subtitle">{{object.idDog.calculomes}}kg de ração por mês</span><br>
    <span class="card-dash-title">Dieta cão:</span><br><span class="card-dash-subtitle">{{object.idDog.calculodia}} gramas por dia</span><br>
    <hr>
    <span class="card-dash-title">Total do pedido mensal:</span><br><span class="card-dash-subtitle ml-1">R${{object.valor}}</span><br>
    <span class="dog-card-img-2 mt-2"></span>
    <div class="row mx-auto justify-content-end">
      <span class="col-5 text-center dash-card-btn">
        <a class="text-decoration-none" href="{{ object.get_absolute_url }}">Ver plano</a>
        <svg width="50px" height="12px" viewBox="0 0 20 9">
          <path d="M19.2857 4.25276C19.2857 4.35693 19.2485 4.44622 19.1741 4.52062L14.8884 8.47151C14.7693 8.57568 14.6391 8.598 14.4978 8.53848C14.3564 8.47151 14.2857 8.36363 14.2857 8.21482L14.2857 5.71482L0.357143 5.71482C0.252976 5.71482 0.167411 5.68134 0.100446 5.61437C0.0334818 5.54741 0 5.46184 0 5.35767L0 3.21482C0 3.11065 0.0334818 3.02509 0.100446 2.95812C0.167411 2.89116 0.252976 2.85767 0.357143 2.85767L14.2857 2.85767L14.2857 0.357675C14.2857 0.201424 14.3564 0.093538 14.4978 0.0340139C14.6391 -0.0255102 14.7693 -0.00690924 14.8884 0.0898174L19.1741 3.99607C19.2485 4.07047 19.2857 4.15604 19.2857 4.25276Z" id="" fill="#00FF30" stroke="none"></path>
        </svg>
      </span>
    </div>
  </div>
  {% endfor %}
</div>
<div class="endofcontent"></div>
{% endblock %}
