{% extends "base_client.html" %}
{% load static %}
{% block head %}
<style>
a, a:hover{
  color:#00FF30!important;
}
</style>
{% endblock %}
{% block content %}
<div class="row d-flex-column middle justify-content-center mx-auto">
  <div style="padding-top: 10%;" class='col-10 col-lg-6 mx-auto mb-2'>
    <p class="pl-1 dash-title">{% if object_list|length > 1 %}Seu plano{% else %}Seus planos{% endif %}.</p>
    <p class="pl-1 dash-subtitle" style="margin-top:-20px;">Caso queira alterar entre em contato conosco.</p>
  </div>
  {% for object in object_list %}
  {% ifchanged %}
    <div class="text-center col-12 control-label text-center m-2 p-2">
      <span>{{object.get_status_display}}</span>
    </div>
  {% endifchanged %}
  <div style="height:auto!important;" class="col-12 col-md-7 m-4 mx-auto text-decoration-none dash-btn">
    <p class="dash-title dash-btn-text font-weight-bold" >
      {{object.idDog.nome}}
    </p>
    <p class="card-dash-subtitle" style="margin-top:-20px;">
      {{object.idDog.raca}}
    </p>
    <hr>
    <span class="card-dash-title">Plano:</span><br><span class="card-dash-subtitle">{{object.idPlano.nome}}</span><br>
    <span class="card-dash-title">Sabores:</span><br><span class="card-dash-subtitle">{{object.idDog.sabores_name}}</span><br>
    <span class="card-dash-title">Entrega:</span><br><span class="card-dash-subtitle">{{object.idEntrega.get_frequencia_display}}</span><br>
    <span class="card-dash-title">A receber:</span><br><span class="card-dash-subtitle">{{object.idDog.calculomes}}kg de ração por mês</span><br>
    <span class="card-dash-title">Dieta cão:</span><br><span class="card-dash-subtitle">{{object.idDog.calculodia}} gramas por dia</span><br>
    <hr>
    <span class="card-dash-title">Total do pedido mensal:</span><br><span class="card-dash-subtitle ml-1">R${{object.valor}}</span><br>
    <span class="dog-card-img-2 mt-2"></span>
  </div>
  {% endfor %}
</div>
<div class="endofcontent"></div>
<div class="footer margin-footer">
  <p class="footer-text ">
  </p>
</div>
{% endblock %}
