
{% extends "base.html" %}
{% load static %}

{% block content %}

<div class='row info-bg'>
  <div class='col-10 info-bar-text'>
    <p>Meu pedido</p>
  </div>
</div>
<div class='row middle'>
  <div class='col-10 mx-auto mt-1'>
    <div class="row">
      <div class="card col-sm">
        <div class="card-body">
          <span class="card-title">
            Nome do Cão: <br><span class='card-heading'>{{object.idDog.nome}}</span>
          </span>
          <div class='row'>
            <div class='col-12 card-text'>
              Status:<br>
              <span class='card-subheading'>{{object.idCarrinho.get_status}}</span>
            </div>
            <!-- <div class='col-6 card-text'>
              Quantidade de ração diária para o cão:<br>
              <span class='card-subheading'>{{object.calculodia}} g/dia</span>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer" style="margin-left:-15px;">
</div>
{% endblock %}
