{% extends "base_flow.html" %}
{% load static %}
{% block head %}
<script src="{% static 'js/siema.min.js' %}"></script>
<style>
.siema {
  height: 570px;
  width: 60vw;
  padding-top:50px;
}
.siema > div {
  margin-left: auto;
  margin-right: auto;
}
.siema > div > div {
  padding-left: 10px;
  padding-right: 10px;
}
.plano-1 {
  content: url('/static/ico/plano_recomendado.png');
  max-height: 115px;
}
.plano-2 {
  content: url('/static/ico/plano_metade.png');
  max-height: 115px;
}
.plano-3 {
  content: url('/static/ico/plano_quarto.png');
  max-height: 115px;
}
.dogdash-card{
  height: auto;
  margin-top: 15px;
}
.valoresp{
  height: 30px;
  width: 125px;
  font-family: Montserrat;
  font-size: 14px;
  color: #1db954;
  text-align: right;
  vertical-align: top;
  font-weight: 700;
  box-shadow: -3px -2px 5px 0 #0000002E;
  border-radius: 5px 0px 0px 5px;
  background: #203976;
  position: absolute;
  right: -32px;
  top: 39px;
  padding-top: 5px;
}

</style>
<script>
$(document).ready(function () {
  const carousel = new Siema({
    selector: '.siema',
    startIndex: 0,
    perPage: {
      597: 2,
      997: 3,
    },
  });
  $('.siema').css('width','100vw');

  $('.progress-bar.icon-bar').css("width","66%");
  $('.progress-bar.disabled-bar').css("width","34%");
  $('.two').removeClass('disabled-bar');
  $('.three').removeClass('disabled-bar');

  $('input[type="radio"]').on('change', function() {
    $('.footer-text').attr("href", "/PedidoFlow/"+ $('input[type="radio"]:checked').val() +"/"+{{dog}});
    $('.footer-text').text("Continuar");
  });
});
</script>

{% endblock %}
{% load mathfilters %}
{% block content %}

<div class="row">
  <div class="mx-auto">
    <p class="dog-card-title col-10 mx-auto">Planos</p>
    <p class="multi-select-flavor-title col-10 mx-auto" style="margin-top:-2em;">Escolha o plano ideal para o <span style="font-weight:600;">{{dog.nome}}</span> e para você.</p>
    <div class="siema pl-4">
      {% for object in planos %}
        <div class="m-2 pt-4 pl-3 pr-1 text-decoration-none mx-auto plano-card position-relative" name="{{object}}">
          <div class="d-flex plano-img">
            <span class="plano-{{forloop.counter}} pl-4 mt-3" style="min-height: 50px;"></span>
            <span class="valoresp text-center" style="top: 39px!important;" >R${{object.valor}} 1º mês</span>
            <span class="valormes text-center"><del>R${{object.valor|mul:2|floatformat:-2}}/mês</del></span>
            <span class="valordia text-center">R${{object.valordia}}/dia</span>
          </div>
          <div class="col mx-auto radio-toolbar" style="padding-top: 70px;">
            <div class="d-flex" style="justify-content: center;">
              <input type="radio" name="planoChoice" id="planoChoices_{{object}}" value="{{object}}">
              <label class="first-description mx-auto" style="height:50px;white-space:nowrap;padding: 16px 25px;" for="planoChoices_{{object}}">
                  Escolher plano
              </label>
            </div>
           </div>
          <p class="second-description text-left">Plano</p>
          <p class="card-subheading text-left less-spacing">{{object.nome}}</p>
          <p class="card-footer-text less-spacing">{{ object.descricao}}</p>
          <div class="plano-card-footer">
            <p class="plano-bold">{{object.subdescricao}}</p>
            <hr class="custom-hr-2">
            <p class="plano-thin">{{object.condicaofrete}}</p>
            <hr class="custom-hr-2">
            <p class="plano-bold">Reembolso garantido</p>
            <hr class="custom-hr-2">
            <p class="plano-thin">Cancele a hora que quiser</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="endofcontent"></div>
<div class="footer margin-footer" style="z-index:3;">
    <a class="footer-text btn-next">
      Escolha um plano
    </a>
</div>
{% endblock %}
