<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Realidade AUmentada</title>
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
</head>
<body>
<!-- Use it like any other HTML element -->
<center>
  <model-viewer
    src="{% static 'models/android.glb' %}"
    ios-src="{% static 'models/apple.usdz' %}"
    auto-rotate
    camera-controls
    ar
    quick-look-browsers="safari chrome"
    style="width: 350px; height: 350px; outline: none;">
  </model-viewer>
</center>
</body>
</html>
