{% extends "base_dash.html" %}
{% load static %}

{% block content %}
<div class="saving-dog-container">
  <img class="logo" src="{% static 'css/images/dog-logo-2.png' %}" alt="logo" />
  <h1 class="saving-dog-title">Salvando dados do seu cão… 🐶</h1>
  <!-- spinner <img /> -->
  <h2 class="saving-dog-owner">Walter<span>,</span></h2>
  <p class="saving-dog-description">Nossa inteligencia artificial canina está calculando uma dieta ideal para o Plínio baseado nos dadosinformados. </p>
  <p class="saving-dog-description-2">Seu cão vai amar ser mais saúdavel.</p>
</div>
{% endblock %}
