{% extends "base_dash.html" %}
{% load static %}

{% block content %}
<div class="flavor-container">
  <img class="flavor-img" src="{% static 'css/images/exemplo.png' %}" alt="flavor" />
  <h1 class="flavor-title">Sabor <span class="bold">adicionado com sucesso</span></h1>
  <p class="flavor-description">Caso você queira montar a dieta do seu cão com sabores diferentes, é possível, você pode escolher até três, os sabores escolhidos serão enviados em quantidades diferentes para balancear a dieta.</p>
</div>
{% endblock %}
